<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianrui.service.mapper.quality.file.QualityItemMapper">
  <resultMap id="BaseResultMap" type="com.tianrui.service.bean.quality.file.QualityItem">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="ename" jdbcType="VARCHAR" property="ename" />
    <result column="units" jdbcType="VARCHAR" property="units" />
    <result column="line" jdbcType="VARCHAR" property="line" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="formula" jdbcType="VARCHAR" property="formula" />
    <result column="vgroups" jdbcType="VARCHAR" property="vgroups" />
    <result column="vdays" jdbcType="VARCHAR" property="vdays" />
    <result column="vtype" jdbcType="VARCHAR" property="vtype" />
    <result column="invlid" jdbcType="VARCHAR" property="invlid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createtime" jdbcType="BIGINT" property="createtime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modifytime" jdbcType="BIGINT" property="modifytime" />
    <result column="utc" jdbcType="BIGINT" property="utc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, ename, units, line, type, formula, vgroups, vdays, vtype, invlid, 
    remark, state, creator, createtime, modifier, modifytime, utc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tr_quality_db_item
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tr_quality_db_item
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianrui.service.bean.quality.file.QualityItem">
    insert into tr_quality_db_item (id, code, name, 
      ename, units, line, 
      type, formula, vgroups, 
      vdays, vtype, invlid, 
      remark, state, creator, 
      createtime, modifier, modifytime, 
      utc)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{ename,jdbcType=VARCHAR}, #{units,jdbcType=VARCHAR}, #{line,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{formula,jdbcType=VARCHAR}, #{vgroups,jdbcType=VARCHAR}, 
      #{vdays,jdbcType=VARCHAR}, #{vtype,jdbcType=VARCHAR}, #{invlid,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=BIGINT}, #{modifier,jdbcType=VARCHAR}, #{modifytime,jdbcType=BIGINT}, 
      #{utc,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.tianrui.service.bean.quality.file.QualityItem">
    insert into tr_quality_db_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="ename != null">
        ename,
      </if>
      <if test="units != null">
        units,
      </if>
      <if test="line != null">
        line,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="formula != null">
        formula,
      </if>
      <if test="vgroups != null">
        vgroups,
      </if>
      <if test="vdays != null">
        vdays,
      </if>
      <if test="vtype != null">
        vtype,
      </if>
      <if test="invlid != null">
        invlid,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifytime != null">
        modifytime,
      </if>
      <if test="utc != null">
        utc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ename != null">
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="units != null">
        #{units,jdbcType=VARCHAR},
      </if>
      <if test="line != null">
        #{line,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="formula != null">
        #{formula,jdbcType=VARCHAR},
      </if>
      <if test="vgroups != null">
        #{vgroups,jdbcType=VARCHAR},
      </if>
      <if test="vdays != null">
        #{vdays,jdbcType=VARCHAR},
      </if>
      <if test="vtype != null">
        #{vtype,jdbcType=VARCHAR},
      </if>
      <if test="invlid != null">
        #{invlid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=BIGINT},
      </if>
      <if test="utc != null">
        #{utc,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianrui.service.bean.quality.file.QualityItem">
    update tr_quality_db_item
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ename != null">
        ename = #{ename,jdbcType=VARCHAR},
      </if>
      <if test="units != null">
        units = #{units,jdbcType=VARCHAR},
      </if>
      <if test="line != null">
        line = #{line,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="formula != null">
        formula = #{formula,jdbcType=VARCHAR},
      </if>
      <if test="vgroups != null">
        vgroups = #{vgroups,jdbcType=VARCHAR},
      </if>
      <if test="vdays != null">
        vdays = #{vdays,jdbcType=VARCHAR},
      </if>
      <if test="vtype != null">
        vtype = #{vtype,jdbcType=VARCHAR},
      </if>
      <if test="invlid != null">
        invlid = #{invlid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        modifytime = #{modifytime,jdbcType=BIGINT},
      </if>
      <if test="utc != null">
        utc = #{utc,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianrui.service.bean.quality.file.QualityItem">
    update tr_quality_db_item
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      ename = #{ename,jdbcType=VARCHAR},
      units = #{units,jdbcType=VARCHAR},
      line = #{line,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      formula = #{formula,jdbcType=VARCHAR},
      vgroups = #{vgroups,jdbcType=VARCHAR},
      vdays = #{vdays,jdbcType=VARCHAR},
      vtype = #{vtype,jdbcType=VARCHAR},
      invlid = #{invlid,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=BIGINT},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifytime = #{modifytime,jdbcType=BIGINT},
      utc = #{utc,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="page" parameterType="com.tianrui.api.req.quality.file.QualityItemReq" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from tr_quality_db_item
		<where>
			<if test="codelike!=null and codelike!=''">
				and code like CONCAT('%',#{codelike,jdbcType=VARCHAR},'%')
			</if>
			<if test="namelike!=null and namelike!=''">
				and name like CONCAT('%',#{namelike,jdbcType=VARCHAR},'%')
			</if>
			<if test="type!=null and type!=''">
				and type=#{type,jdbcType=VARCHAR}
			</if>
			<if test="invlid!=null and invlid!=''">
				and invlid=#{invlid,jdbcType=VARCHAR}
			</if>
			<if test="state!=null and state!=''">
				and state=#{state,jdbcType=VARCHAR}
			</if>
		</where>
		<if test="start!=null and limit!=null and limit!=0">
			limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
		</if>
	</select>
	<select id="count" parameterType="com.tianrui.api.req.quality.file.QualityItemReq" resultType="int">
		select 
		count(1)
		from tr_quality_db_item
		<where>
			<if test="codelike!=null and codelike!=''">
				and code like CONCAT('%',#{codelike,jdbcType=VARCHAR},'%')
			</if>
			<if test="namelike!=null and namelike!=''">
				and name like CONCAT('%',#{namelike,jdbcType=VARCHAR},'%')
			</if>
			<if test="type!=null and type!=''">
				and type=#{type,jdbcType=VARCHAR}
			</if>
			<if test="invlid!=null and invlid!=''">
				and invlid=#{invlid,jdbcType=VARCHAR}
			</if>
			<if test="state!=null and state!=''">
				and state=#{state,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
    <select id="selectOne" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tr_quality_db_item
    where id = #{id,jdbcType=VARCHAR}
		and state="1"
  </select>
  	<select id="autoCompleteSearch" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tr_quality_db_item
		where state = 1
		<if test="likeName != null and likeName !=''">
			and name like CONCAT('%', #{likeName,jdbcType=VARCHAR},
			'%')
		</if>
		order by createtime desc
		limit 0,20
	</select>
</mapper>