/*.project
/.settings
/trfc-admin/.project
/trfc-admin/.settings
/trfc-admin/target
/trfc-admin/.classpath

/trfc-api/.project
/trfc-api/.settings
/trfc-api/target
/trfc-api/.classpath

/trfc-comm/.project
/trfc-comm/.settings
/trfc-comm/target
/trfc-comm/.classpath

/trfc-service/.project
/trfc-service/.settings
/trfc-service/target
/trfc-service/.classpath

/trfc-schedule/.project
/trfc-schedule/.settings
/trfc-schedule/target
/trfc-schedule/.classpath

/trfc-web/.project
/trfc-web/.settings
/trfc-web/target
/trfc-web/.classpath


/trfc-webapi/.project
/trfc-webapi/.settings
/trfc-webapi/target
/trfc-webapi/.classpath