<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.system.merchants.SupplierGroupMapper" >
  <resultMap id="BaseResultMap" type="com.tianrui.service.bean.system.merchants.SupplierGroup" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="supplierid" property="supplierid" jdbcType="VARCHAR" />
    <result column="groupid" property="groupid" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="BIGINT" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modifytime" property="modifytime" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, supplierid, groupid, state, creator, createtime, modifier, modifytime, remark
  </sql>
  <sql id="Base_Column_List_T" >
    t1.id, t1.supplierid, t1.groupid, t1.state, t1.creator, t1.createtime, t1.modifier, t1.modifytime, t1.remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tr_supplier_db_group
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tr_supplier_db_group
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianrui.service.bean.system.merchants.SupplierGroup" >
    insert into tr_supplier_db_group (id, supplierid, groupid, 
      state, creator, createtime, 
      modifier, modifytime, remark
      )
    values (#{id,jdbcType=VARCHAR}, #{supplierid,jdbcType=VARCHAR}, #{groupid,jdbcType=VARCHAR}, 
      #{state,jdbcType=BIT}, #{creator,jdbcType=VARCHAR}, #{createtime,jdbcType=BIGINT}, 
      #{modifier,jdbcType=VARCHAR}, #{modifytime,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tianrui.service.bean.system.merchants.SupplierGroup" >
    insert into tr_supplier_db_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="supplierid != null" >
        supplierid,
      </if>
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifytime != null" >
        modifytime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="supplierid != null" >
        #{supplierid,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianrui.service.bean.system.merchants.SupplierGroup" >
    update tr_supplier_db_group
    <set >
      <if test="supplierid != null" >
        supplierid = #{supplierid,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null" >
        groupid = #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        modifytime = #{modifytime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianrui.service.bean.system.merchants.SupplierGroup" >
    update tr_supplier_db_group
    set supplierid = #{supplierid,jdbcType=VARCHAR},
      groupid = #{groupid,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=BIGINT},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifytime = #{modifytime,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="validateSupplier" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/>
  	from tr_supplier_db_group where state = 1 and supplierid = #{supplierid,jdbcType=VARCHAR}
  </select>
  <select id="selectSupplierGroupPage" parameterType="com.tianrui.api.req.system.merchants.SupplierGroupQuery" resultType="com.tianrui.api.resp.system.merchants.SupplierGroupResp">
  	SELECT <include refid="Base_Column_List_T"/>, t2.code as suppliercode, t2.name as suppliername
	FROM
		tr_supplier_db_group t1
	LEFT JOIN tr_supplier_db_manage t2 ON t1.groupid = t2.id
	WHERE
		t1.state = 1 and t2.state = 1
	<if test="supplierid != null and supplierid != ''">
		and t2.id = #{supplierid,jdbcType=VARCHAR}
	</if>
	<if test="suppliercode != null and suppliercode != ''">
		and t2.code like CONCAT('%',#{suppliercode,jdbcType=VARCHAR},'%')
	</if>
	<if test="suppliername != null and suppliername != ''">
		and t2.name like CONCAT('%',#{suppliername,jdbcType=VARCHAR},'%')
	</if>
	GROUP BY t1.groupid
	ORDER BY t1.createtime
  	<if test="start != null and start >= 0">
  		<if test="limit != null">
			limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  		</if>
  	</if>
  </select>
  <select id="selectSupplierGroupPageCount" parameterType="com.tianrui.api.req.system.merchants.SupplierGroupQuery" resultType="java.lang.Long">
  	SELECT
		count(0)
	FROM
		tr_supplier_db_group t1
	LEFT JOIN tr_supplier_db_manage t2 ON t1.groupid = t2.id
	WHERE
		t1.state = 1 and t2.state = 1
	<if test="supplierid != null and supplierid != ''">
		and t2.id = #{supplierid,jdbcType=VARCHAR}
	</if>
	<if test="suppliercode != null and suppliercode != ''">
		and t2.code like CONCAT('%',#{suppliercode,jdbcType=VARCHAR},'%')
	</if>
	<if test="suppliername != null and suppliername != ''">
		and t2.name like CONCAT('%',#{suppliername,jdbcType=VARCHAR},'%')
	</if>
	GROUP BY t1.groupid
  </select>
  <select id="selectSupplierByGroupId" parameterType="java.lang.String" resultType="com.tianrui.api.resp.system.merchants.SupplierGroupResp">
  	SELECT
		<include refid="Base_Column_List_T"/>, t2.code as suppliercode, t2.name as suppliername
	FROM
		tr_supplier_db_group t1
	LEFT JOIN tr_supplier_db_manage t2 ON t1.supplierid = t2.id
	WHERE
		t1.state = 1 and t2.state = 1
	<if test="groupid != null and groupid != ''">
		and t1.groupid = #{groupid,jdbcType=VARCHAR}
	</if>
  </select>
</mapper>