<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.businessManage.cardManage.CardMapper" >
  <resultMap id="BaseResultMap" type="com.tianrui.service.bean.businessManage.cardManage.Card" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="cardno" property="cardno" jdbcType="VARCHAR" />
    <result column="cardcode" property="cardcode" jdbcType="VARCHAR" />
    <result column="cardstatus" property="cardstatus" jdbcType="VARCHAR" />
    <result column="cardtype" property="cardtype" jdbcType="VARCHAR" />
    <result column="registrar" property="registrar" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="BIGINT" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modifytime" property="modifytime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, cardno, cardcode, cardstatus, cardtype, registrar, state, remarks, creator, 
    createtime, modifier, modifytime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tr_card_db_manage
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.tianrui.service.bean.businessManage.cardManage.Card">
  	select
  	<include refid="Base_Column_List" />
    from tr_card_db_manage
  	<where>
  	  <if test="id != null and id != ''" >
        and id = #{id,jdbcType=VARCHAR}
      </if>
  	  <if test="code != null and code != ''" >
        and code = #{code,jdbcType=VARCHAR}
      </if>
      <if test="cardno != null and cardno != ''" >
        and cardno = #{cardno,jdbcType=VARCHAR}
      </if>
      <if test="cardcode != null and cardcode != ''" >
        and cardcode = #{cardcode,jdbcType=VARCHAR}
      </if>
      <if test="cardstatus != null and cardstatus != ''" >
        and cardstatus = #{cardstatus,jdbcType=VARCHAR}
      </if>
      <if test="cardtype != null and cardtype != ''" >
        and cardtype = #{cardtype,jdbcType=VARCHAR}
      </if>
      <if test="registrar != null and registrar != ''" >
        and registrar = #{registrar,jdbcType=VARCHAR}
      </if>
      <if test="state != null and state != ''" >
        and state = #{state,jdbcType=VARCHAR}
      </if>
      <if test="remarks != null and remarks != ''" >
        and remarks = #{remarks,jdbcType=VARCHAR}
      </if>
      <if test="creator != null and creator != ''" >
        and creator = #{creator,jdbcType=VARCHAR}
      </if>
      <if test="createtime != null and createtime != ''" >
        and createtime = #{createtime,jdbcType=BIGINT}
      </if>
      <if test="modifier != null and modifier != ''" >
        and modifier = #{modifier,jdbcType=VARCHAR}
      </if>
      <if test="modifytime != null and modifytime != ''" >
        and modifytime = #{modifytime,jdbcType=BIGINT}
      </if>
  	</where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tr_card_db_manage
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianrui.service.bean.businessManage.cardManage.Card" >
    insert into tr_card_db_manage (id, code, cardno, 
      cardcode, cardstatus, cardtype, 
      registrar, state, remarks, 
      creator, createtime, modifier, 
      modifytime)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{cardno,jdbcType=VARCHAR}, 
      #{cardcode,jdbcType=VARCHAR}, #{cardstatus,jdbcType=VARCHAR}, #{cardtype,jdbcType=VARCHAR}, 
      #{registrar,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createtime,jdbcType=BIGINT}, #{modifier,jdbcType=VARCHAR}, 
      #{modifytime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.tianrui.service.bean.businessManage.cardManage.Card" >
    insert into tr_card_db_manage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="cardno != null" >
        cardno,
      </if>
      <if test="cardcode != null" >
        cardcode,
      </if>
      <if test="cardstatus != null" >
        cardstatus,
      </if>
      <if test="cardtype != null" >
        cardtype,
      </if>
      <if test="registrar != null" >
        registrar,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifytime != null" >
        modifytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null" >
        #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="cardcode != null" >
        #{cardcode,jdbcType=VARCHAR},
      </if>
      <if test="cardstatus != null" >
        #{cardstatus,jdbcType=VARCHAR},
      </if>
      <if test="cardtype != null" >
        #{cardtype,jdbcType=VARCHAR},
      </if>
      <if test="registrar != null" >
        #{registrar,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianrui.service.bean.businessManage.cardManage.Card" >
    update tr_card_db_manage
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null" >
        cardno = #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="cardcode != null" >
        cardcode = #{cardcode,jdbcType=VARCHAR},
      </if>
      <if test="cardstatus != null" >
        cardstatus = #{cardstatus,jdbcType=VARCHAR},
      </if>
      <if test="cardtype != null" >
        cardtype = #{cardtype,jdbcType=VARCHAR},
      </if>
      <if test="registrar != null" >
        registrar = #{registrar,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        modifytime = #{modifytime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianrui.service.bean.businessManage.cardManage.Card" >
    update tr_card_db_manage
    set code = #{code,jdbcType=VARCHAR},
      cardno = #{cardno,jdbcType=VARCHAR},
      cardcode = #{cardcode,jdbcType=VARCHAR},
      cardstatus = #{cardstatus,jdbcType=VARCHAR},
      cardtype = #{cardtype,jdbcType=VARCHAR},
      registrar = #{registrar,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=BIGINT},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifytime = #{modifytime,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findCardPageCount" resultType="java.lang.Long" parameterType="com.tianrui.api.req.businessManage.cardManage.CardReq">
  	select count(0)
  	from tr_card_db_manage
  	<where>
  		<if test="cardcode != null and cardcode != ''">
        	and cardcode = #{cardcode,jdbcType=VARCHAR}
      	</if>
  		<if test="cardno != null and cardno != ''">
        	and cardno = #{cardno,jdbcType=VARCHAR}
      	</if>
  		<if test="cardstatus != null and cardstatus != ''">
        	and cardstatus = #{cardstatus,jdbcType=VARCHAR}
      	</if>
  		<if test="cardtype != null and cardtype != ''">
        	and cardtype = #{cardtype,jdbcType=VARCHAR}
      	</if>
  		<if test="state != null and state != ''">
        	and state = #{state,jdbcType=VARCHAR}
      	</if>
  	</where>
  </select>
  <select id="findCardPage" resultMap="BaseResultMap" parameterType="com.tianrui.api.req.businessManage.cardManage.CardReq">
  	select 
  	<include refid="Base_Column_List" />
  	from tr_card_db_manage
  	<where>
  		<if test="cardcode != null and cardcode != ''">
        	and cardcode = #{cardcode,jdbcType=VARCHAR}
      	</if>
  		<if test="cardstatus != null and cardstatus != ''">
        	and cardstatus = #{cardstatus,jdbcType=VARCHAR}
      	</if>
  		<if test="cardtype != null and cardtype != ''">
        	and cardtype = #{cardtype,jdbcType=VARCHAR}
      	</if>
  		<if test="state != null and state != ''">
        	and state = #{state,jdbcType=VARCHAR}
      	</if>
  	</where>
  	order by createtime desc
  	<if test="start != null and start >= 0">
  		<if test="limit != null">
			limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  		</if>
  	</if>
  </select>
    <select id="selectByCardno" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tr_card_db_manage
    where cardno = #{cardno,jdbcType=VARCHAR} and state = '1'
  </select>
</mapper>