<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.businessManage.report.ReportPurchaseMapper" >
  <resultMap id="BaseResultMap" type="com.tianrui.service.bean.businessManage.report.ReportPurchase" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="billcode" property="billcode" jdbcType="VARCHAR" />
    <result column="poundcode" property="poundcode" jdbcType="VARCHAR" />
    <result column="supplierid" property="supplierid" jdbcType="VARCHAR" />
    <result column="suppliername" property="suppliername" jdbcType="VARCHAR" />
    <result column="minemouthname" property="minemouthname" jdbcType="VARCHAR" />
    <result column="yardname" property="yardname" jdbcType="VARCHAR" />
    <result column="materialname" property="materialname" jdbcType="VARCHAR" />
    <result column="vehicleid" property="vehicleid" jdbcType="VARCHAR" />
    <result column="vehicleno" property="vehicleno" jdbcType="VARCHAR" />
    <result column="grossweight" property="grossweight" jdbcType="DOUBLE" />
    <result column="tareweight" property="tareweight" jdbcType="DOUBLE" />
    <result column="netweight" property="netweight" jdbcType="DOUBLE" />
    <result column="originalnetweight" property="originalnetweight" jdbcType="DOUBLE" />
    <result column="lighttime" property="lighttime" jdbcType="BIGINT" />
    <result column="weighttime" property="weighttime" jdbcType="BIGINT" />
    <result column="billtime" property="billtime" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="signPersonName" property="signpersonname" jdbcType="VARCHAR" />
    <result column="signTime" property="signtime" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="drivername" property="drivername" jdbcType="VARCHAR" />
    <result column="driverid" property="driverid" jdbcType="VARCHAR" />
    <result column="cargo" property="cargo" jdbcType="VARCHAR" />
    <result column="returnstatus" property="returnstatus" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    
  </resultMap>
  
  <resultMap id="BaseResultMap2" type="com.tianrui.api.resp.businessManage.report.ReportPurchaseMaterResp" >
   
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    id, billcode, poundcode, supplierid, suppliername, minemouthname, yardname, materialname, 
    vehicleid, vehicleno, grossweight, tareweight, netweight, originalnetweight, lighttime, 
    weighttime, billtime, remark, signPersonName, signTime, type, drivername, driverid, 
    cargo, returnstatus, status
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from v_report_purchase
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.tianrui.service.bean.businessManage.report.ReportPurchase" >
    select 
    <include refid="Base_Column_List" />
    from v_report_purchase
   	<where>
   		
   		<if test="beginTimeLong != null and beginTimeLong != 0L ">
			and billtime <![CDATA[>]]> #{beginTimeLong,jdbcType=BIGINT}
		</if>
   		<if test="endTimeLong != null and endTimeLong != 0L ">
			and billtime <![CDATA[<]]> #{endTimeLong,jdbcType=BIGINT}
		</if>
		<if test="supplierNameLike != null and supplierNameLike != ''">
			and suppliername like concat(#{supplierNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="vehicleNoLike != null and vehicleNoLike != ''">
			and vehicleno like concat(#{vehicleNoLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="minemouthNameLike != null and minemouthNameLike != ''">
			and minemouthname like concat(#{minemouthNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="driverNameLike != null and driverNameLike != ''">
			and drivername like concat(#{driverNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="cargoNameLike != null and cargoNameLike != ''">
			and materialname like concat(#{cargoNameLike,jdbcType=VARCHAR},'%') 
		</if>
		<if test="remarkLike != null and remarkLike != ''">
			and remark like concat(#{remarkLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="returnstatus != null and returnstatus != ''">
			and returnstatus = #{returnstatus,jdbcType=VARCHAR}
		</if>
		
   	</where>
  	order by lighttime desc
	<if test="start != null and start >= 0">
		<if test="limit != null">
			limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
		</if>
	</if>
  </select>
  
  
  
  <select id="selectByConditionForMater" resultMap="BaseResultMap2" parameterType="com.tianrui.api.resp.businessManage.report.ReportPurchaseMaterResp" >
	SELECT
		suppliername ,
		materialname,
		remark,
		count(vehicleno) as countVehicleno,
		sum(grossweight) as sumGrossweight,
		sum(tareweight) as sumTareweight,
		sum(netweight) as sumNetweight
	FROM
		v_report_purchase
	 <where>
   		<if test="beginTimeLong != null and beginTimeLong != 0L ">
			and billtime <![CDATA[>]]> #{beginTimeLong,jdbcType=BIGINT}
		</if>
   		<if test="endTimeLong != null and endTimeLong != 0L ">
			and billtime <![CDATA[<]]> #{endTimeLong,jdbcType=BIGINT}
		</if>
		<if test="supplierNameLike != null and supplierNameLike != ''">
			and suppliername like concat(#{supplierNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="vehicleNoLike != null and vehicleNoLike != ''">
			and vehicleno like concat(#{vehicleNoLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="minemouthNameLike != null and minemouthNameLike != ''">
			and minemouthname like concat(#{minemouthNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="driverNameLike != null and driverNameLike != ''">
			and drivername like concat(#{driverNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="cargoNameLike != null and cargoNameLike != ''">
			and materialname like concat(#{cargoNameLike,jdbcType=VARCHAR},'%') 
		</if>
		<if test="remarkLike != null and remarkLike != ''">
			and remark like concat(#{remarkLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="returnstatus != null and returnstatus != ''">
			and returnstatus = #{returnstatus,jdbcType=VARCHAR}
		</if>
   	</where>	
	GROUP BY
		supplierid,
		materialname,
		remark
	ORDER BY
		supplierid 
	<if test="start != null and start >= 0">
		<if test="limit != null">
			limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
		</if>
	</if>
  </select>
  
  
  <select id="selectByConditionForMatercg" resultMap="BaseResultMap2" parameterType="com.tianrui.service.bean.businessManage.report.ReportPurchase" >
	SELECT
		suppliername ,
		minemouthname,
		materialname,
		count(vehicleno) as countVehicleno,
		sum(grossweight) as sumGrossweight,
		sum(tareweight) as sumTareweight,
		sum(netweight) as sumNetweight
	FROM
		v_report_purchase
	 <where>
   		<if test="beginTimeLong != null and beginTimeLong != 0L ">
			and billtime <![CDATA[>]]> #{beginTimeLong,jdbcType=BIGINT}
		</if>
   		<if test="endTimeLong != null and endTimeLong != 0L ">
			and billtime <![CDATA[<]]> #{endTimeLong,jdbcType=BIGINT}
		</if>
		<if test="supplierNameLike != null and supplierNameLike != ''">
			and suppliername like concat(#{supplierNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="vehicleNoLike != null and vehicleNoLike != ''">
			and vehicleno like concat(#{vehicleNoLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="minemouthNameLike != null and minemouthNameLike != ''">
			and minemouthname like concat(#{minemouthNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="driverNameLike != null and driverNameLike != ''">
			and drivername like concat(#{driverNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="cargoNameLike != null and cargoNameLike != ''">
			and materialname like concat(#{cargoNameLike,jdbcType=VARCHAR},'%') 
		</if>
		<if test="remarkLike != null and remarkLike != ''">
			and remark like concat(#{remarkLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="returnstatus != null and returnstatus != ''">
			and returnstatus = #{returnstatus,jdbcType=VARCHAR}
		</if>
   	</where>	
	GROUP BY
		supplierid,
		minemouthname,
		materialname
		
	ORDER BY
		supplierid 
	<if test="start != null and start >= 0">
		<if test="limit != null">
			limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
		</if>
	</if>
  </select>
  <select id="selectByConditionForMaterSignPersonName" resultMap="BaseResultMap" parameterType="com.tianrui.service.bean.businessManage.report.ReportPurchase" >
    select 
    <include refid="Base_Column_List" />
    from v_report_purchase
   	<where>
   		netweight>0
   		<if test="beginTimeLong != null and beginTimeLong != 0L ">
			and billtime <![CDATA[>]]> #{beginTimeLong,jdbcType=BIGINT}
		</if>
   		<if test="endTimeLong != null and endTimeLong != 0L ">
			and billtime <![CDATA[<]]> #{endTimeLong,jdbcType=BIGINT}
		</if>
		<if test="supplierNameLike != null and supplierNameLike != ''">
			and suppliername like concat(#{supplierNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="vehicleNoLike != null and vehicleNoLike != ''">
			and vehicleno like concat(#{vehicleNoLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="minemouthNameLike != null and minemouthNameLike != ''">
			and minemouthname like concat(#{minemouthNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="driverNameLike != null and driverNameLike != ''">
			and drivername like concat(#{driverNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="cargoNameLike != null and cargoNameLike != ''">
			and materialname like concat(#{cargoNameLike,jdbcType=VARCHAR},'%') 
		</if>
		<if test="remarkLike != null and remarkLike != ''">
			and remark like concat(#{remarkLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="returnstatus != null and returnstatus != ''">
			and returnstatus = #{returnstatus,jdbcType=VARCHAR}
		</if>
		
   	</where>
  	order by lighttime desc
	<if test="start != null and start >= 0">
		<if test="limit != null">
			limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
		</if>
	</if>
  </select>
  <select id="countByCondition" resultType="long" parameterType="com.tianrui.service.bean.businessManage.report.ReportPurchase" >
    select 
   		count(1)
    from v_report_purchase
  	<where>
  	    
   		<if test="beginTimeLong != null and beginTimeLong != 0L ">
			and billtime <![CDATA[>]]> #{beginTimeLong,jdbcType=BIGINT}
		</if>
   		<if test="endTimeLong != null and endTimeLong != 0L ">
			and billtime <![CDATA[<]]> #{endTimeLong,jdbcType=BIGINT}
		</if>
		<if test="supplierNameLike != null and supplierNameLike != ''">
			and suppliername like concat(#{supplierNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="vehicleNoLike != null and vehicleNoLike != ''">
			and vehicleno like concat(#{vehicleNoLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="minemouthNameLike != null and minemouthNameLike != ''">
			and minemouthname like concat(#{minemouthNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="driverNameLike != null and driverNameLike != ''">
			and drivername like concat(#{driverNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="cargoNameLike != null and cargoNameLike != ''">
			and materialname like concat(#{cargoNameLike,jdbcType=VARCHAR},'%') 
		</if>
		<if test="remarkLike != null and remarkLike != ''">
			and remark  like concat(#{remarkLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="returnstatus != null and returnstatus != ''">
			and returnstatus = #{returnstatus,jdbcType=VARCHAR}
		</if>
		
		
   	</where>
  </select>
  <select id="countByConditionForMater" resultType="long" parameterType="com.tianrui.service.bean.businessManage.report.ReportPurchase" >
    select 
   		count(1)
   		from(
	   		select 
	   		supplierid,
			materialname,
			remark
	    from v_report_purchase
	  	<where>
	   		<if test="beginTimeLong != null and beginTimeLong != 0L ">
				and billtime <![CDATA[>]]> #{beginTimeLong,jdbcType=BIGINT}
			</if>
	   		<if test="endTimeLong != null and endTimeLong != 0L ">
				and billtime <![CDATA[<]]> #{endTimeLong,jdbcType=BIGINT}
			</if>
			<if test="supplierNameLike != null and supplierNameLike != ''">
				and suppliername like concat(#{supplierNameLike,jdbcType=VARCHAR},'%')
			</if>
			<if test="vehicleNoLike != null and vehicleNoLike != ''">
				and vehicleno like concat(#{vehicleNoLike,jdbcType=VARCHAR},'%')
			</if>
			<if test="minemouthNameLike != null and minemouthNameLike != ''">
				and minemouthname like concat(#{minemouthNameLike,jdbcType=VARCHAR},'%')
			</if>
			<if test="driverNameLike != null and driverNameLike != ''">
				and drivername like concat(#{driverNameLike,jdbcType=VARCHAR},'%')
			</if>
			<if test="cargoNameLike != null and cargoNameLike != ''">
				and materialname like concat(#{cargoNameLike,jdbcType=VARCHAR},'%') 
			</if>
			<if test="remarkLike != null and remarkLike != ''">
				and remark  like concat(#{remarkLike,jdbcType=VARCHAR},'%')
			</if>
			<if test="returnstatus != null and returnstatus != ''">
				and returnstatus = #{returnstatus,jdbcType=VARCHAR}
			</if>
	   	</where>
	   		GROUP BY
			supplierid,
			materialname,
			remark
			) t
  </select>
  
  
  <select id="countByConditionForMatercg" resultType="long" parameterType="com.tianrui.service.bean.businessManage.report.ReportPurchase" >
    select 
   		count(1)
   		from(
   			select
	   		supplierid,
			minemouthname,
			materialname
	    from v_report_purchase
	  	<where>
	   		<if test="beginTimeLong != null and beginTimeLong != 0L ">
				and billtime <![CDATA[>]]> #{beginTimeLong,jdbcType=BIGINT}
			</if>
	   		<if test="endTimeLong != null and endTimeLong != 0L ">
				and billtime <![CDATA[<]]> #{endTimeLong,jdbcType=BIGINT}
			</if>
			<if test="supplierNameLike != null and supplierNameLike != ''">
				and suppliername like concat(#{supplierNameLike,jdbcType=VARCHAR},'%')
			</if>
			<if test="vehicleNoLike != null and vehicleNoLike != ''">
				and vehicleno like concat(#{vehicleNoLike,jdbcType=VARCHAR},'%')
			</if>
			<if test="minemouthNameLike != null and minemouthNameLike != ''">
				and minemouthname like concat(#{minemouthNameLike,jdbcType=VARCHAR},'%')
			</if>
			<if test="driverNameLike != null and driverNameLike != ''">
				and drivername like concat(#{driverNameLike,jdbcType=VARCHAR},'%')
			</if>
			<if test="cargoNameLike != null and cargoNameLike != ''">
				and materialname like concat(#{cargoNameLike,jdbcType=VARCHAR},'%') 
			</if>
			<if test="remarkLike != null and remarkLike != ''">
				and remark  like concat(#{remarkLike,jdbcType=VARCHAR},'%')
			</if>
			<if test="returnstatus != null and returnstatus != ''">
				and returnstatus = #{returnstatus,jdbcType=VARCHAR}
			</if>
	   	</where>
	   		GROUP BY
			supplierid,
			minemouthname,
			materialname
			) cg
  </select>
  <select id="countByConditionForMaterSignPersonName" resultType="long" parameterType="com.tianrui.service.bean.businessManage.report.ReportPurchase" >
    select 
   		count(1)
    from v_report_purchase
  	<where>
  	    netweight>0
   		<if test="beginTimeLong != null and beginTimeLong != 0L ">
			and billtime <![CDATA[>]]> #{beginTimeLong,jdbcType=BIGINT}
		</if>
   		<if test="endTimeLong != null and endTimeLong != 0L ">
			and billtime <![CDATA[<]]> #{endTimeLong,jdbcType=BIGINT}
		</if>
		<if test="supplierNameLike != null and supplierNameLike != ''">
			and suppliername like concat(#{supplierNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="vehicleNoLike != null and vehicleNoLike != ''">
			and vehicleno like concat(#{vehicleNoLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="minemouthNameLike != null and minemouthNameLike != ''">
			and minemouthname like concat(#{minemouthNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="driverNameLike != null and driverNameLike != ''">
			and drivername like concat(#{driverNameLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="cargoNameLike != null and cargoNameLike != ''">
			and materialname like concat(#{cargoNameLike,jdbcType=VARCHAR},'%') 
		</if>
		<if test="remarkLike != null and remarkLike != ''">
			and remark  like concat(#{remarkLike,jdbcType=VARCHAR},'%')
		</if>
		<if test="returnstatus != null and returnstatus != ''">
			and returnstatus = #{returnstatus,jdbcType=VARCHAR}
		</if>
		
		
   	</where>
  </select>
</mapper>