<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.businessManage.salesManage.SalesApplicationMapper" >
  <resultMap id="BaseResultMap" type="com.tianrui.service.bean.businessManage.salesManage.SalesApplication" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="billtype" property="billtype" jdbcType="VARCHAR" />
    <result column="customerid" property="customerid" jdbcType="VARCHAR" />
    <result column="billtime" property="billtime" jdbcType="BIGINT" />
    <result column="orgid" property="orgid" jdbcType="VARCHAR" />
    <result column="orgname" property="orgname" jdbcType="VARCHAR" />
    <result column="departmentid" property="departmentid" jdbcType="VARCHAR" />
    <result column="departmentname" property="departmentname" jdbcType="VARCHAR" />
    <result column="auditid" property="auditid" jdbcType="VARCHAR" />
    <result column="auditname" property="auditname" jdbcType="VARCHAR" />
    <result column="audittime" property="audittime" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="BIGINT" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modifytime" property="modifytime" jdbcType="BIGINT" />
    <result column="utc" property="utc" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, status, source, billtype, customerid, billtime, orgid, orgname, departmentid, 
    departmentname, auditid, auditname, audittime, state, remarks, creator, createtime, 
    modifier, modifytime,utc
  </sql>
  <sql id="Base_Column_List_S1" >
    s1.id, s1.code, s1.status, s1.source, s1.billtype, s1.customerid, s1.billtime, s1.orgid, s1.orgname, s1.departmentid, 
    s1.departmentname, s1.auditid, s1.auditname, s1.audittime, s1.state, s1.remarks, s1.creator, s1.createtime, 
    s1.modifier, s1.modifytime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tr_sales_db_application
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="findMaxUtc" resultType="Long"  >
    select 
   		max(utc)
    from tr_sales_db_application
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tr_sales_db_application
    where id = #{id,jdbcType=VARCHAR}
  </delete>

<insert id="insertBatch" parameterType="java.util.List">
	insert into tr_sales_db_application (id, code, status,
	source, billtype, customerid,
	billtime, orgid, orgname,
	departmentid, departmentname, auditid,
	auditname, audittime, state,
	creator, createtime,
	modifytime,utc)
	values
	<foreach collection="list" item="item" index="index"
		separator=",">
		( #{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		#{source,jdbcType=VARCHAR}, #{billtype,jdbcType=VARCHAR}, #{customerid,jdbcType=VARCHAR},
		#{billtime,jdbcType=BIGINT}, #{orgid,jdbcType=VARCHAR},
		#{orgname,jdbcType=VARCHAR},
		#{departmentid,jdbcType=VARCHAR}, #{departmentname,jdbcType=VARCHAR}, #{auditid,jdbcType=VARCHAR},
		#{auditname,jdbcType=VARCHAR}, #{audittime,jdbcType=BIGINT},
		#{state,jdbcType=VARCHAR},
		#{creator,jdbcType=VARCHAR}, #{createtime,jdbcType=BIGINT},
		#{modifytime,jdbcType=BIGINT}, #{utc,jdbcType=BIGINT}
		)
	</foreach>
</insert>  
  
  <insert id="insert" parameterType="com.tianrui.service.bean.businessManage.salesManage.SalesApplication" >
    insert into tr_sales_db_application (id, code, status, 
      source, billtype, customerid, 
      billtime, orgid, orgname, 
      departmentid, departmentname, auditid, 
      auditname, audittime, state, 
      remarks, creator, createtime, 
      modifier, modifytime,utc)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{billtype,jdbcType=VARCHAR}, #{customerid,jdbcType=VARCHAR}, 
      #{billtime,jdbcType=BIGINT}, #{orgid,jdbcType=VARCHAR}, #{orgname,jdbcType=VARCHAR}, 
      #{departmentid,jdbcType=VARCHAR}, #{departmentname,jdbcType=VARCHAR}, #{auditid,jdbcType=VARCHAR}, 
      #{auditname,jdbcType=VARCHAR}, #{audittime,jdbcType=BIGINT}, #{state,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createtime,jdbcType=BIGINT}, 
      #{modifier,jdbcType=VARCHAR}, #{modifytime,jdbcType=BIGINT}, #{utc,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.tianrui.service.bean.businessManage.salesManage.SalesApplication" >
    insert into tr_sales_db_application
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="billtype != null" >
        billtype,
      </if>
      <if test="customerid != null" >
        customerid,
      </if>
      <if test="billtime != null" >
        billtime,
      </if>
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="orgname != null" >
        orgname,
      </if>
      <if test="departmentid != null" >
        departmentid,
      </if>
      <if test="departmentname != null" >
        departmentname,
      </if>
      <if test="auditid != null" >
        auditid,
      </if>
      <if test="auditname != null" >
        auditname,
      </if>
      <if test="audittime != null" >
        audittime,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifytime != null" >
        modifytime,
      </if>
      <if test="utc != null" >
        utc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="billtype != null" >
        #{billtype,jdbcType=VARCHAR},
      </if>
      <if test="customerid != null" >
        #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="billtime != null" >
        #{billtime,jdbcType=BIGINT},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="orgname != null" >
        #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null" >
        #{departmentid,jdbcType=VARCHAR},
      </if>
      <if test="departmentname != null" >
        #{departmentname,jdbcType=VARCHAR},
      </if>
      <if test="auditid != null" >
        #{auditid,jdbcType=VARCHAR},
      </if>
      <if test="auditname != null" >
        #{auditname,jdbcType=VARCHAR},
      </if>
      <if test="audittime != null" >
        #{audittime,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=BIGINT},
      </if>
      <if test="utc != null" >
        #{utc,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianrui.service.bean.businessManage.salesManage.SalesApplication" >
    update tr_sales_db_application
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="billtype != null" >
        billtype = #{billtype,jdbcType=VARCHAR},
      </if>
      <if test="customerid != null" >
        customerid = #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="billtime != null" >
        billtime = #{billtime,jdbcType=BIGINT},
      </if>
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="orgname != null" >
        orgname = #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null" >
        departmentid = #{departmentid,jdbcType=VARCHAR},
      </if>
      <if test="departmentname != null" >
        departmentname = #{departmentname,jdbcType=VARCHAR},
      </if>
      <if test="auditid != null" >
        auditid = #{auditid,jdbcType=VARCHAR},
      </if>
      <if test="auditname != null" >
        auditname = #{auditname,jdbcType=VARCHAR},
      </if>
      <if test="audittime != null" >
        audittime = #{audittime,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        modifytime = #{modifytime,jdbcType=BIGINT},
      </if>
      <if test="utc != null" >
        utc = #{utc,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianrui.service.bean.businessManage.salesManage.SalesApplication" >
    update tr_sales_db_application
    set code = #{code,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      billtype = #{billtype,jdbcType=VARCHAR},
      customerid = #{customerid,jdbcType=VARCHAR},
      billtime = #{billtime,jdbcType=BIGINT},
      orgid = #{orgid,jdbcType=VARCHAR},
      orgname = #{orgname,jdbcType=VARCHAR},
      departmentid = #{departmentid,jdbcType=VARCHAR},
      departmentname = #{departmentname,jdbcType=VARCHAR},
      auditid = #{auditid,jdbcType=VARCHAR},
      auditname = #{auditname,jdbcType=VARCHAR},
      audittime = #{audittime,jdbcType=BIGINT},
      state = #{state,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=BIGINT},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifytime = #{modifytime,jdbcType=BIGINT},
      utc = #{utc,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectSelective" parameterType="com.tianrui.service.bean.businessManage.salesManage.SalesApplication" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from tr_sales_db_application
  	<where>
  	  <if test="id != null and id != ''" >
        and id = #{id,jdbcType=VARCHAR}
      </if>
  	  <if test="code != null and code != ''" >
        and code = #{code,jdbcType=VARCHAR}
      </if>
      <if test="status != null and status != ''" >
        and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="source != null and source != ''" >
        and source = #{source,jdbcType=VARCHAR}
      </if>
      <if test="billtype != null and billtype != ''" >
        and billtype = #{billtype,jdbcType=VARCHAR}
      </if>
      <if test="customerid != null and customerid != ''" >
        and customerid = #{customerid,jdbcType=VARCHAR}
      </if>
      <if test="billtime != null and billtime != ''" >
        and billtime = #{billtime,jdbcType=BIGINT}
      </if>
      <if test="orgid != null and orgid != ''" >
        and orgid = #{orgid,jdbcType=VARCHAR}
      </if>
      <if test="orgname != null and orgname != ''" >
        and orgname = #{orgname,jdbcType=VARCHAR}
      </if>
      <if test="departmentid != null and departmentid != ''" >
        and departmentid = #{departmentid,jdbcType=VARCHAR}
      </if>
      <if test="departmentname != null and departmentname != ''" >
      	and departmentname = #{departmentname,jdbcType=VARCHAR}
      </if>
      <if test="auditid != null and auditid != ''" >
        and auditid = #{auditid,jdbcType=VARCHAR}
      </if>
      <if test="auditname != null and auditname != ''" >
        and auditname = #{auditname,jdbcType=VARCHAR}
      </if>
      <if test="audittime != null and audittime != ''" >
        and audittime = #{audittime,jdbcType=BIGINT}
      </if>
      <if test="state != null and state != ''" >
        and state = #{state,jdbcType=VARCHAR}
      </if>
      <if test="remarks != null and remarks != ''" >
        and remarks = #{remarks,jdbcType=VARCHAR}
      </if>
      <if test="creator != null and creator != ''" >
        and creator = #{creator,jdbcType=VARCHAR}
      </if>
      <if test="createtime != null and createtime != ''" >
        and createtime = #{createtime,jdbcType=BIGINT}
      </if>
      <if test="modifier != null and modifier != ''" >
        and modifier = #{modifier,jdbcType=VARCHAR}
      </if>
      <if test="modifytime != null and modifytime != ''" >
        and modifytime = #{modifytime,jdbcType=BIGINT}
      </if>
  	</where>
  </select>
  <select id="findSalesApplicationPage" parameterType="com.tianrui.api.req.businessManage.salesManage.SalesApplicationQuery" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List_S1" />
  	from tr_sales_db_application s1 left join tr_sales_db_application_detail s2 
  	on s1.id = s2.salesid
  	<where>
  		<if test="state != null and state != ''">
  			and s1.state = #{state,jdbcType=VARCHAR}
  		</if>
  		<if test="customerid != null and customerid != ''">
  			and s1.customerid = #{customerid,jdbcType=VARCHAR}
  		</if>
  		<if test="source != null and source != ''">
  			and s1.source = #{source,jdbcType=VARCHAR}
  		</if>
  		<if test="code != null and code != ''">
  			and s1.code = #{code,jdbcType=VARCHAR}
  		</if>
  		<if test="materielid != null and materielid != ''">
  			and s2.materielid = #{materielid,jdbcType=VARCHAR}
  		</if>
  		<if test="warehouseid != null and warehouseid != ''">
  			and s2.warehouseid = #{warehouseid,jdbcType=VARCHAR}
  		</if>
  		<if test="starttime != null and starttime != ''">
  			and s1.createtime <![CDATA[>=]]> #{starttime,jdbcType=BIGINT}
  		</if>
  		<if test="endtime != null and endtime != ''">
  			and s1.createtime <![CDATA[<]]> #{endtime,jdbcType=BIGINT}
  		</if>
  	</where>
  	order by s1.createtime desc
  	<if test="start != null and start >= 0">
  		<if test="limit != null">
			limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  		</if>
  	</if>
  </select>
  <select id="findSalesApplicationPageCount" parameterType="com.tianrui.api.req.businessManage.salesManage.SalesApplicationQuery" resultType="java.lang.Long" >
  	select count(0)
  	from tr_sales_db_application s1 left join tr_sales_db_application_detail s2 
  	on s1.id = s2.salesid
  	<where>
  		<if test="state != null and state != ''">
  			and s1.state = #{state,jdbcType=VARCHAR}
  		</if>
  		<if test="customerid != null and customerid != ''">
  			and s1.customerid = #{customerid,jdbcType=VARCHAR}
  		</if>
  		<if test="source != null and source != ''">
  			and s1.source = #{source,jdbcType=VARCHAR}
  		</if>
  		<if test="code != null and code != ''">
  			and s1.code = #{code,jdbcType=VARCHAR}
  		</if>
  		<if test="materielid != null and materielid != ''">
  			and s2.materielid = #{materielid,jdbcType=VARCHAR}
  		</if>
  		<if test="warehouseid != null and warehouseid != ''">
  			and s2.warehouseid = #{warehouseid,jdbcType=VARCHAR}
  		</if>
  		<if test="starttime != null and starttime != ''">
  			and s1.createtime <![CDATA[>=]]> #{starttime,jdbcType=BIGINT}
  		</if>
  		<if test="endtime != null and endtime != ''">
  			and s1.createtime <![CDATA[<]]> #{endtime,jdbcType=BIGINT}
  		</if>
  	</where>
  </select>
</mapper>