<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.basicFile.measure.VehicleManageMapper">
	<resultMap id="BaseResultMap" type="com.tianrui.service.bean.basicFile.measure.VehicleManage">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="internalcode" property="internalcode" jdbcType="VARCHAR" />
		<result column="RFID" property="rfid" jdbcType="VARCHAR" />
		<result column="vehicleno" property="vehicleno" jdbcType="VARCHAR" />
		<result column="transporttype" property="transporttype" jdbcType="VARCHAR" />
		<result column="vehicletype" property="vehicletype" jdbcType="VARCHAR" />
		<result column="transportunit" property="transportunit" jdbcType="VARCHAR" />
		<result column="maxweight" property="maxweight" jdbcType="DOUBLE" />
		<result column="tareweight" property="tareweight" jdbcType="DOUBLE" />
		<result column="ownername" property="ownername" jdbcType="VARCHAR" />
		<result column="telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="orgid" property="orgid" jdbcType="VARCHAR" />
		<result column="orgname" property="orgname" jdbcType="VARCHAR" />
		<result column="isvalid" property="isvalid" jdbcType="VARCHAR" />
		<result column="isblacklist" property="isblacklist" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="VARCHAR" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="BIGINT" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="modifytime" property="modifytime" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, code, internalcode, RFID, vehicleno, transporttype, vehicletype,
		transportunit,
		maxweight, tareweight, ownername, telephone, address, orgid, orgname, isvalid,
		isblacklist,
		state, remarks, creator, createtime, modifier, modifytime
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from tr_vehicle_db_manage
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<select id="selectByVehicleno" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from tr_vehicle_db_manage
		where vehicleno = #{vehicleno,jdbcType=VARCHAR} and state = '1'
	</select>
	<select id="selectSelective" resultMap="BaseResultMap"
		parameterType="com.tianrui.service.bean.basicFile.measure.VehicleManage">
		select
		<include refid="Base_Column_List" />
		from tr_vehicle_db_manage
		<where>
			<if test="id != null and id != ''">
				and id = #{id,jdbcType=VARCHAR}
			</if>
			<if test="code != null and code != ''">
				and code = #{code,jdbcType=VARCHAR}
			</if>
			<if test="internalcode != null and internalcode != ''">
				and internalcode = #{internalcode,jdbcType=VARCHAR}
			</if>
			<if test="rfid != null and rfid != ''">
				and RFID = #{rfid,jdbcType=VARCHAR}
			</if>
			<if test="vehicleno != null and vehicleno != ''">
				and vehicleno = #{vehicleno,jdbcType=VARCHAR}
			</if>
			<if test="transporttype != null and transporttype != ''">
				and transporttype = #{transporttype,jdbcType=VARCHAR}
			</if>
			<if test="vehicletype != null and vehicletype != ''">
				and vehicletype = #{vehicletype,jdbcType=VARCHAR}
			</if>
			<if test="transportunit != null and transportunit != ''">
				and transportunit = #{transportunit,jdbcType=VARCHAR}
			</if>
			<if test="maxweight != null and maxweight != ''">
				and maxweight = #{maxweight,jdbcType=DOUBLE}
			</if>
			<if test="tareweight != null and tareweight != ''">
				and tareweight = #{tareweight,jdbcType=DOUBLE}
			</if>
			<if test="ownername != null and ownername != ''">
				and ownername = #{ownername,jdbcType=VARCHAR}
			</if>
			<if test="telephone != null and telephone != ''">
				and telephone = #{telephone,jdbcType=VARCHAR}
			</if>
			<if test="address != null and address != ''">
				and address = #{address,jdbcType=VARCHAR}
			</if>
			<if test="orgid != null and orgid != ''">
				and orgid = #{orgid,jdbcType=VARCHAR}
			</if>
			<if test="orgname != null and orgname != ''">
				and orgname = #{orgname,jdbcType=VARCHAR}
			</if>
			<if test="isvalid != null and isvalid != ''">
				and isvalid = #{isvalid,jdbcType=VARCHAR}
			</if>
			<if test="isblacklist != null and isblacklist != ''">
				and isblacklist = #{isblacklist,jdbcType=VARCHAR}
			</if>
			<if test="state != null and state != ''">
				and state = #{state,jdbcType=VARCHAR}
			</if>
			<if test="remarks != null and remarks != ''">
				and remarks = #{remarks,jdbcType=VARCHAR}
			</if>
			<if test="creator != null and creator != ''">
				and creator = #{creator,jdbcType=VARCHAR}
			</if>
			<if test="createtime != null and createtime != ''">
				and createtime = #{createtime,jdbcType=BIGINT}
			</if>
			<if test="modifier != null and modifier != ''">
				and modifier = #{modifier,jdbcType=VARCHAR}
			</if>
			<if test="modifytime != null and modifytime != ''">
				and modifytime = #{modifytime,jdbcType=BIGINT}
			</if>
		</where>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from tr_vehicle_db_manage
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="com.tianrui.service.bean.basicFile.measure.VehicleManage">
		insert into tr_vehicle_db_manage (id, code, internalcode,
		RFID, vehicleno, transporttype,
		vehicletype, transportunit, maxweight,
		tareweight, ownername, telephone,
		address, orgid, orgname,
		isvalid, isblacklist, state,
		remarks, creator, createtime,
		modifier, modifytime)
		values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
		#{internalcode,jdbcType=VARCHAR},
		#{rfid,jdbcType=VARCHAR}, #{vehicleno,jdbcType=VARCHAR}, #{transporttype,jdbcType=VARCHAR},
		#{vehicletype,jdbcType=VARCHAR}, #{transportunit,jdbcType=VARCHAR},
		#{maxweight,jdbcType=DOUBLE},
		#{tareweight,jdbcType=DOUBLE}, #{ownername,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR}, #{orgid,jdbcType=VARCHAR},
		#{orgname,jdbcType=VARCHAR},
		#{isvalid,jdbcType=VARCHAR}, #{isblacklist,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR},
		#{remarks,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR},
		#{createtime,jdbcType=BIGINT},
		#{modifier,jdbcType=VARCHAR}, #{modifytime,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective"
		parameterType="com.tianrui.service.bean.basicFile.measure.VehicleManage">
		insert into tr_vehicle_db_manage
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="internalcode != null">
				internalcode,
			</if>
			<if test="rfid != null">
				RFID,
			</if>
			<if test="vehicleno != null">
				vehicleno,
			</if>
			<if test="transporttype != null">
				transporttype,
			</if>
			<if test="vehicletype != null">
				vehicletype,
			</if>
			<if test="transportunit != null">
				transportunit,
			</if>
			<if test="maxweight != null">
				maxweight,
			</if>
			<if test="tareweight != null">
				tareweight,
			</if>
			<if test="ownername != null">
				ownername,
			</if>
			<if test="telephone != null">
				telephone,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="orgid != null">
				orgid,
			</if>
			<if test="orgname != null">
				orgname,
			</if>
			<if test="isvalid != null">
				isvalid,
			</if>
			<if test="isblacklist != null">
				isblacklist,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="modifier != null">
				modifier,
			</if>
			<if test="modifytime != null">
				modifytime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="internalcode != null">
				#{internalcode,jdbcType=VARCHAR},
			</if>
			<if test="rfid != null">
				#{rfid,jdbcType=VARCHAR},
			</if>
			<if test="vehicleno != null">
				#{vehicleno,jdbcType=VARCHAR},
			</if>
			<if test="transporttype != null">
				#{transporttype,jdbcType=VARCHAR},
			</if>
			<if test="vehicletype != null">
				#{vehicletype,jdbcType=VARCHAR},
			</if>
			<if test="transportunit != null">
				#{transportunit,jdbcType=VARCHAR},
			</if>
			<if test="maxweight != null">
				#{maxweight,jdbcType=DOUBLE},
			</if>
			<if test="tareweight != null">
				#{tareweight,jdbcType=DOUBLE},
			</if>
			<if test="ownername != null">
				#{ownername,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				#{telephone,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="orgid != null">
				#{orgid,jdbcType=VARCHAR},
			</if>
			<if test="orgname != null">
				#{orgname,jdbcType=VARCHAR},
			</if>
			<if test="isvalid != null">
				#{isvalid,jdbcType=VARCHAR},
			</if>
			<if test="isblacklist != null">
				#{isblacklist,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=BIGINT},
			</if>
			<if test="modifier != null">
				#{modifier,jdbcType=VARCHAR},
			</if>
			<if test="modifytime != null">
				#{modifytime,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.tianrui.service.bean.basicFile.measure.VehicleManage">
		update tr_vehicle_db_manage
		<set>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="internalcode != null">
				internalcode = #{internalcode,jdbcType=VARCHAR},
			</if>
			<if test="rfid != null">
				RFID = #{rfid,jdbcType=VARCHAR},
			</if>
			<if test="vehicleno != null">
				vehicleno = #{vehicleno,jdbcType=VARCHAR},
			</if>
			<if test="transporttype != null">
				transporttype = #{transporttype,jdbcType=VARCHAR},
			</if>
			<if test="vehicletype != null">
				vehicletype = #{vehicletype,jdbcType=VARCHAR},
			</if>
			<if test="transportunit != null">
				transportunit = #{transportunit,jdbcType=VARCHAR},
			</if>
			<if test="maxweight != null">
				maxweight = #{maxweight,jdbcType=DOUBLE},
			</if>
			<if test="tareweight != null">
				tareweight = #{tareweight,jdbcType=DOUBLE},
			</if>
			<if test="ownername != null">
				ownername = #{ownername,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				telephone = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="orgid != null">
				orgid = #{orgid,jdbcType=VARCHAR},
			</if>
			<if test="orgname != null">
				orgname = #{orgname,jdbcType=VARCHAR},
			</if>
			<if test="isvalid != null">
				isvalid = #{isvalid,jdbcType=VARCHAR},
			</if>
			<if test="isblacklist != null">
				isblacklist = #{isblacklist,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=BIGINT},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="modifytime != null">
				modifytime = #{modifytime,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.tianrui.service.bean.basicFile.measure.VehicleManage">
		update tr_vehicle_db_manage
		set code = #{code,jdbcType=VARCHAR},
		internalcode = #{internalcode,jdbcType=VARCHAR},
		RFID = #{rfid,jdbcType=VARCHAR},
		vehicleno = #{vehicleno,jdbcType=VARCHAR},
		transporttype = #{transporttype,jdbcType=VARCHAR},
		vehicletype = #{vehicletype,jdbcType=VARCHAR},
		transportunit = #{transportunit,jdbcType=VARCHAR},
		maxweight = #{maxweight,jdbcType=DOUBLE},
		tareweight = #{tareweight,jdbcType=DOUBLE},
		ownername = #{ownername,jdbcType=VARCHAR},
		telephone = #{telephone,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		orgid = #{orgid,jdbcType=VARCHAR},
		orgname = #{orgname,jdbcType=VARCHAR},
		isvalid = #{isvalid,jdbcType=VARCHAR},
		isblacklist = #{isblacklist,jdbcType=VARCHAR},
		state = #{state,jdbcType=VARCHAR},
		remarks = #{remarks,jdbcType=VARCHAR},
		creator = #{creator,jdbcType=VARCHAR},
		createtime = #{createtime,jdbcType=BIGINT},
		modifier = #{modifier,jdbcType=VARCHAR},
		modifytime = #{modifytime,jdbcType=BIGINT}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<select id="findVehiclePageCount" resultType="java.lang.Long"
		parameterType="com.tianrui.api.req.basicFile.measure.VehicleManageQuery">
		select
		count(0)
		from tr_vehicle_db_manage
		<where> isvalid = '1'
			<if test="vehicleno != null and vehicleno != ''">
				and vehicleno like '%${vehicleno}%'
			</if>
			<if test="internalcode != null and internalcode != ''">
				and internalcode like '%${internalcode}%'
			</if>
			<if test="orgid != null and orgid != ''">
				and orgid = #{orgid,jdbcType=VARCHAR}
			</if>
			<if test="orgname != null and orgname != ''">
				and orgname = #{orgname,jdbcType=VARCHAR}
			</if>
			<if test="transporttype != null and transporttype != ''">
				and transporttype = #{transporttype,jdbcType=VARCHAR}
			</if>
			<if test="isblacklist != null and isblacklist != ''">
				and isblacklist = #{isblacklist,jdbcType=VARCHAR}
			</if>
			<if test="state != null and state != ''">
				and state = #{state,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="findVehiclePage" resultMap="BaseResultMap"
		parameterType="com.tianrui.api.req.basicFile.measure.VehicleManageQuery">
		select
		<include refid="Base_Column_List" />
		from tr_vehicle_db_manage
		<where> isvalid = '1'
			<if test="vehicleno != null and vehicleno != ''">
				and vehicleno like '%${vehicleno}%'
			</if>
			<if test="internalcode != null and internalcode != ''">
				and internalcode like '%${internalcode}%'
			</if>
			<if test="orgid != null and orgid != ''">
				and orgid = #{orgid,jdbcType=VARCHAR}
			</if>
			<if test="orgname != null and orgname != ''">
				and orgname = #{orgname,jdbcType=VARCHAR}
			</if>
			<if test="transporttype != null and transporttype != ''">
				and transporttype = #{transporttype,jdbcType=VARCHAR}
			</if>
			<if test="isblacklist != null and isblacklist != ''">
				and isblacklist = #{isblacklist,jdbcType=VARCHAR}
			</if>
			<if test="state != null and state != ''">
				and state = #{state,jdbcType=VARCHAR}
			</if>
		</where>
		order by createtime desc
		<if test="start != null and start >= 0">
			<if test="limit != null">
				limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
			</if>
		</if>
	</select>
	<select id="autoCompleteSearch" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tr_vehicle_db_manage
		where state = '1' and isvalid = '1'
		<if test="isCutover != null and isCutover !=''">
			and transporttype = #{isCutover,jdbcType=VARCHAR}
		</if>
		<if test="isBlack != null and isBlack !=''">
			and isblacklist = #{isBlack,jdbcType=VARCHAR}
		</if>
		<if test="likeName != null and likeName !=''">
			and vehicleno like CONCAT('%',
			#{likeName,jdbcType=VARCHAR}, '%')
		</if>
		order by createtime desc
		limit 0,20
	</select>
	<select id="getByVehicleNoAndRfid" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from tr_vehicle_db_manage
		where state = '1' and isvalid = '1' and isblacklist = '0'
			and vehicleno = #{vehicleno,jdbcType=VARCHAR} 
			and RFID = #{rfid,jdbcType=VARCHAR}
	</select>
	<select id="appQueryVehiclePage" parameterType="com.tianrui.api.req.businessManage.app.AppQueryReq" resultType="com.tianrui.api.resp.businessManage.app.AppVehicleResp">
		select id, vehicleno as vehicle
		from tr_vehicle_db_manage
		<where> isvalid = '1'
			<if test="key != null and key != ''">
				and vehicleno like CONCAT('%', #{key,jdbcType=VARCHAR}, '%')
			</if>
			<if test="state != null and state != ''">
				and state = #{state,jdbcType=VARCHAR}
			</if>
		</where>
		order by createtime desc
		<if test="start != null and start >= 0">
			<if test="limit != null">
				limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
			</if>
		</if>
	</select>
	<select id="appQueryVehiclePageCount" parameterType="com.tianrui.api.req.businessManage.app.AppQueryReq" resultType="java.lang.Long">
		select count(0)
		from tr_vehicle_db_manage
		<where>
		      isvalid = '1'
			<if test="key != null and key != ''">
				and vehicleno like CONCAT('%', #{key,jdbcType=VARCHAR}, '%')
			</if>
			<if test="state != null and state != ''">
				and state = #{state,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="getVehicleByNo" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from tr_vehicle_db_manage
		where vehicleno = #{vehicleNo,jdbcType=VARCHAR} and state = 1
	</select>
	<select id="getVehicleByRfid" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from tr_vehicle_db_manage
		where RFID = #{rfid,jdbcType=VARCHAR} 
	</select>
	<select id="appAutoCompleteSearch" parameterType="com.tianrui.api.req.android.SearchKeyParam" resultType="com.tianrui.api.resp.android.SearchListVo">
		SELECT
			id,
			vehicleno AS name
		FROM
			tr_vehicle_db_manage
		WHERE
			state = 1
		AND isvalid = 1
		AND isblacklist = 0
		AND transporttype = 0
		<if test="key != null and key != ''">
			and vehicleno like CONCAT('%', #{key,jdbcType=VARCHAR}, '%')
		</if>
		ORDER BY createtime DESC
		limit 0, #{pageSize,jdbcType=INTEGER}
	</select>
</mapper>