<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.businessManage.purchaseManage.PurchaseApplicationMapper" >
  <resultMap id="BaseResultMap" type="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseApplication" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="auditstatus" property="auditstatus" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="billtypeid" property="billtypeid" jdbcType="VARCHAR" />
    <result column="billtypename" property="billtypename" jdbcType="VARCHAR" />
    <result column="billtime" property="billtime" jdbcType="BIGINT" />
    <result column="sumnum" property="sumnum" jdbcType="DOUBLE" />
    <result column="orgid" property="orgid" jdbcType="VARCHAR" />
    <result column="orgname" property="orgname" jdbcType="VARCHAR" />
    <result column="supplierid" property="supplierid" jdbcType="VARCHAR" />
    <result column="suppliername" property="suppliername" jdbcType="VARCHAR" />
    <result column="supplierremark" property="supplierremark" jdbcType="VARCHAR" />
    <result column="minemouthid" property="minemouthid" jdbcType="VARCHAR" />
    <result column="minemouthname" property="minemouthname" jdbcType="VARCHAR" />
    <result column="departmentid" property="departmentid" jdbcType="VARCHAR" />
    <result column="departmentname" property="departmentname" jdbcType="VARCHAR" />
    <result column="buyerid" property="buyerid" jdbcType="VARCHAR" />
    <result column="buyername" property="buyername" jdbcType="VARCHAR" />
    <result column="auditid" property="auditid" jdbcType="VARCHAR" />
    <result column="auditname" property="auditname" jdbcType="VARCHAR" />
    <result column="audittime" property="audittime" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="makerid" property="makerid" jdbcType="VARCHAR" />
    <result column="makebillname" property="makebillname" jdbcType="VARCHAR" />
    <result column="makebilltime" property="makebilltime" jdbcType="BIGINT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="BIGINT" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modifytime" property="modifytime" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="utc" property="utc" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, auditstatus, source, billtypeid, billtypename, billtime, sumnum, orgid, orgname, 
    supplierid, suppliername, supplierremark, minemouthid, minemouthname, departmentid, departmentname, buyerid, buyername, auditid, 
    auditname, audittime, state, makerid, makebillname, makebilltime, creator, createtime, 
    modifier, modifytime, remark,utc
  </sql>
  <sql id="P_Base_Column_List" >
    p1.id, p1.code, p1.auditstatus, p1.source, p1.billtypeid, p1.billtypename, p1.billtime, p1.sumnum, p1.orgid, p1.orgname, 
    p1.supplierid, p1.suppliername, p1.supplierremark, p1.minemouthid, p1.minemouthname, p1.departmentid, p1.departmentname, p1.buyerid, p1.buyername, p1.auditid,
    p1.auditname, p1.audittime, p1.state, p1.makerid, p1.makebillname, p1.makebilltime, p1.creator, p1.createtime, 
    p1.modifier, p1.modifytime, p1.remark, p2.id as detailid, p2.purchaseid, p2.materielid, p2.materielname, p2.materielspec, 
    p2.materieltype, p2.purchasesum, p2.margin, p2.storagequantity, p2.unstoragequantity, p2.pretendingtake, p2.unit
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tr_purchase_db_application
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tr_purchase_db_application
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseApplication" >
    insert into tr_purchase_db_application (id, code, auditstatus, 
      source, billtypeid, billtypename, 
      billtime, sumnum, orgid, 
      orgname, supplierid, suppliername, supplierremark,
      minemouthid, minemouthname, departmentid, departmentname, buyerid, 
      buyername, auditid, auditname, 
      audittime, state, makerid, 
      makebillname, makebilltime, creator, 
      createtime, modifier, modifytime, 
      remark)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{auditstatus,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{billtypeid,jdbcType=VARCHAR}, #{billtypename,jdbcType=VARCHAR}, 
      #{billtime,jdbcType=BIGINT}, #{sumnum,jdbcType=DOUBLE}, #{orgid,jdbcType=VARCHAR}, 
      #{orgname,jdbcType=VARCHAR}, #{supplierid,jdbcType=VARCHAR}, #{suppliername,jdbcType=VARCHAR}, 
      #{supplierremark,jdbcType=VARCHAR}, #{minemouthid,jdbcType=VARCHAR}, #{minemouthname,jdbcType=VARCHAR},
      #{departmentid,jdbcType=VARCHAR}, #{departmentname,jdbcType=VARCHAR}, #{buyerid,jdbcType=VARCHAR}, 
      #{buyername,jdbcType=VARCHAR}, #{auditid,jdbcType=VARCHAR}, #{auditname,jdbcType=VARCHAR}, 
      #{audittime,jdbcType=BIGINT}, #{state,jdbcType=VARCHAR}, #{makerid,jdbcType=VARCHAR}, 
      #{makebillname,jdbcType=VARCHAR}, #{makebilltime,jdbcType=BIGINT}, #{creator,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=BIGINT}, #{modifier,jdbcType=VARCHAR}, #{modifytime,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseApplication" >
    insert into tr_purchase_db_application
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="auditstatus != null" >
        auditstatus,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="billtypeid != null" >
        billtypeid,
      </if>
      <if test="billtypename != null" >
        billtypename,
      </if>
      <if test="billtime != null" >
        billtime,
      </if>
      <if test="sumnum != null" >
        sumnum,
      </if>
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="orgname != null" >
        orgname,
      </if>
      <if test="supplierid != null" >
        supplierid,
      </if>
      <if test="suppliername != null" >
        suppliername,
      </if>
      <if test="supplierremark != null" >
        supplierremark,
      </if>
      <if test="minemouthid != null" >
        minemouthid,
      </if>
      <if test="minemouthname != null" >
        minemouthname,
      </if>
      <if test="departmentid != null" >
        departmentid,
      </if>
      <if test="departmentname != null" >
        departmentname,
      </if>
      <if test="buyerid != null" >
        buyerid,
      </if>
      <if test="buyername != null" >
        buyername,
      </if>
      <if test="auditid != null" >
        auditid,
      </if>
      <if test="auditname != null" >
        auditname,
      </if>
      <if test="audittime != null" >
        audittime,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="makerid != null" >
        makerid,
      </if>
      <if test="makebillname != null" >
        makebillname,
      </if>
      <if test="makebilltime != null" >
        makebilltime,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifytime != null" >
        modifytime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="auditstatus != null" >
        #{auditstatus,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="billtypeid != null" >
        #{billtypeid,jdbcType=VARCHAR},
      </if>
      <if test="billtypename != null" >
        #{billtypename,jdbcType=VARCHAR},
      </if>
      <if test="billtime != null" >
        #{billtime,jdbcType=BIGINT},
      </if>
      <if test="sumnum != null" >
        #{sumnum,jdbcType=DOUBLE},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="orgname != null" >
        #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="supplierid != null" >
        #{supplierid,jdbcType=VARCHAR},
      </if>
      <if test="suppliername != null" >
        #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="supplierremark != null" >
        #{supplierremark,jdbcType=VARCHAR},
      </if>
      <if test="minemouthid != null" >
        #{minemouthid,jdbcType=VARCHAR},
      </if>
      <if test="minemouthname != null" >
        #{minemouthname,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null" >
        #{departmentid,jdbcType=VARCHAR},
      </if>
      <if test="departmentname != null" >
        #{departmentname,jdbcType=VARCHAR},
      </if>
      <if test="buyerid != null" >
        #{buyerid,jdbcType=VARCHAR},
      </if>
      <if test="buyername != null" >
        #{buyername,jdbcType=VARCHAR},
      </if>
      <if test="auditid != null" >
        #{auditid,jdbcType=VARCHAR},
      </if>
      <if test="auditname != null" >
        #{auditname,jdbcType=VARCHAR},
      </if>
      <if test="audittime != null" >
        #{audittime,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="makerid != null" >
        #{makerid,jdbcType=VARCHAR},
      </if>
      <if test="makebillname != null" >
        #{makebillname,jdbcType=VARCHAR},
      </if>
      <if test="makebilltime != null" >
        #{makebilltime,jdbcType=BIGINT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseApplication" >
    update tr_purchase_db_application
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="auditstatus != null" >
        auditstatus = #{auditstatus,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="billtypeid != null" >
        billtypeid = #{billtypeid,jdbcType=VARCHAR},
      </if>
      <if test="billtypename != null" >
        billtypename = #{billtypename,jdbcType=VARCHAR},
      </if>
      <if test="billtime != null" >
        billtime = #{billtime,jdbcType=BIGINT},
      </if>
      <if test="sumnum != null" >
        sumnum = #{sumnum,jdbcType=DOUBLE},
      </if>
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="orgname != null" >
        orgname = #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="supplierid != null" >
        supplierid = #{supplierid,jdbcType=VARCHAR},
      </if>
      <if test="suppliername != null" >
        suppliername = #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="supplierremark != null" >
        supplierremark = #{supplierremark,jdbcType=VARCHAR},
      </if>
      <if test="minemouthid != null" >
        minemouthid = #{minemouthid,jdbcType=VARCHAR},
      </if>
      <if test="minemouthname != null" >
        minemouthname = #{minemouthname,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null" >
        departmentid = #{departmentid,jdbcType=VARCHAR},
      </if>
      <if test="departmentname != null" >
        departmentname = #{departmentname,jdbcType=VARCHAR},
      </if>
      <if test="buyerid != null" >
        buyerid = #{buyerid,jdbcType=VARCHAR},
      </if>
      <if test="buyername != null" >
        buyername = #{buyername,jdbcType=VARCHAR},
      </if>
      <if test="auditid != null" >
        auditid = #{auditid,jdbcType=VARCHAR},
      </if>
      <if test="auditname != null" >
        auditname = #{auditname,jdbcType=VARCHAR},
      </if>
      <if test="audittime != null" >
        audittime = #{audittime,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="makerid != null" >
        makerid = #{makerid,jdbcType=VARCHAR},
      </if>
      <if test="makebillname != null" >
        makebillname = #{makebillname,jdbcType=VARCHAR},
      </if>
      <if test="makebilltime != null" >
        makebilltime = #{makebilltime,jdbcType=BIGINT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        modifytime = #{modifytime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseApplication" >
    update tr_purchase_db_application
    set code = #{code,jdbcType=VARCHAR},
      auditstatus = #{auditstatus,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      billtypeid = #{billtypeid,jdbcType=VARCHAR},
      billtypename = #{billtypename,jdbcType=VARCHAR},
      billtime = #{billtime,jdbcType=BIGINT},
      sumnum = #{sumnum,jdbcType=DOUBLE},
      orgid = #{orgid,jdbcType=VARCHAR},
      orgname = #{orgname,jdbcType=VARCHAR},
      supplierid = #{supplierid,jdbcType=VARCHAR},
      suppliername = #{suppliername,jdbcType=VARCHAR},
      supplierremark = #{supplierremark,jdbcType=VARCHAR},
      minemouthid = #{minemouthid,jdbcType=VARCHAR},
      minemouthname = #{minemouthname,jdbcType=VARCHAR},
      departmentid = #{departmentid,jdbcType=VARCHAR},
      departmentname = #{departmentname,jdbcType=VARCHAR},
      buyerid = #{buyerid,jdbcType=VARCHAR},
      buyername = #{buyername,jdbcType=VARCHAR},
      auditid = #{auditid,jdbcType=VARCHAR},
      auditname = #{auditname,jdbcType=VARCHAR},
      audittime = #{audittime,jdbcType=BIGINT},
      state = #{state,jdbcType=VARCHAR},
      makerid = #{makerid,jdbcType=VARCHAR},
      makebillname = #{makebillname,jdbcType=VARCHAR},
      makebilltime = #{makebilltime,jdbcType=BIGINT},
      creator = #{creator,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=BIGINT},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifytime = #{modifytime,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findPurchaseApplicationPageCount" parameterType="com.tianrui.api.req.businessManage.purchaseManage.PurchaseApplicationQuery" resultType="java.lang.Long">
  	select count(1)
  	from tr_purchase_db_application
  	<where>
  		<if test="code != null and code != ''">
  			and code = #{code,jdbcType=VARCHAR}
  		</if>
  		<if test="supplierid != null and supplierid != ''">
  			and supplierid = #{supplierid,jdbcType=VARCHAR}
  		</if>
  		<if test="source != null and source != ''">
  			and source = #{source,jdbcType=VARCHAR}
  		</if>
  		<if test="state != null and state != ''">
  			and state = #{state,jdbcType=VARCHAR}
  		</if>
  		<if test="starttime != null and starttime != ''">
  			and billtime <![CDATA[>=]]> #{starttime,jdbcType=BIGINT}
  		</if>
  		<if test="endtime != null and endtime != ''">
  			and billtime <![CDATA[<]]> #{endtime,jdbcType=BIGINT}
  		</if>
  	</where>
  </select>
  <select id="findPurchaseApplicationPage" parameterType="com.tianrui.api.req.businessManage.purchaseManage.PurchaseApplicationQuery" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from tr_purchase_db_application
  	<where>
  		<if test="code != null and code != ''">
  			and code = #{code,jdbcType=VARCHAR}
  		</if>
  		<if test="supplierid != null and supplierid != ''">
  			and supplierid = #{supplierid,jdbcType=VARCHAR}
  		</if>
  		<if test="source != null and source != ''">
  			and source = #{source,jdbcType=VARCHAR}
  		</if>
  		<if test="state != null and state != ''">
  			and state = #{state,jdbcType=VARCHAR}
  		</if>
  		<if test="starttime != null and starttime != ''">
  			and billtime <![CDATA[>=]]> #{starttime,jdbcType=BIGINT}
  		</if>
  		<if test="endtime != null and endtime != ''">
  			and billtime <![CDATA[<]]> #{endtime,jdbcType=BIGINT}
  		</if>
  	</where>
  	order by makebilltime
  	<if test="start != null and start >= 0">
  		<if test="limit != null">
			limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  		</if>
  	</if>
  </select>
  <select id="findPageGroupMaterielCount" parameterType="com.tianrui.api.req.businessManage.purchaseManage.PurchaseApplicationQuery" resultType="java.lang.Long">
  	select count(1)
  	from tr_purchase_db_application p1
	left join tr_purchase_db_application_detail p2 on p1.id = p2.purchaseid
  	<where>
  		<if test="code != null and code != ''">
  			and p1.code = #{code,jdbcType=VARCHAR}
  		</if>
  		<if test="supplierid != null and supplierid != ''">
  			and p1.supplierid = #{supplierid,jdbcType=VARCHAR}
  		</if>
  		<if test="materielid != null and materielid != ''">
  			and p2.materielid = #{materielid,jdbcType=VARCHAR}
  		</if>
  		<if test="state != null and state != ''">
  			and p1.state = #{state,jdbcType=VARCHAR}
  		</if>
  		<if test="starttime != null and starttime != ''">
  			and p1.billtime <![CDATA[>=]]> #{starttime,jdbcType=BIGINT}
  		</if>
  		<if test="endtime != null and endtime != ''">
  			and p1.billtime <![CDATA[<]]> #{endtime,jdbcType=BIGINT}
  		</if>
  	</where>
  </select>
  <select id="findPageGroupMateriel" parameterType="com.tianrui.api.req.businessManage.purchaseManage.PurchaseApplicationQuery" resultType="com.tianrui.api.resp.businessManage.purchaseManage.PurchaseApplicationJoinDetailResp">
  	select 
  	<include refid="P_Base_Column_List" />
  	from tr_purchase_db_application p1
	left join tr_purchase_db_application_detail p2 on p1.id = p2.purchaseid
  	<where>
  		<if test="code != null and code != ''">
  			and p1.code = #{code,jdbcType=VARCHAR}
  		</if>
  		<if test="supplierid != null and supplierid != ''">
  			and p1.supplierid = #{supplierid,jdbcType=VARCHAR}
  		</if>
  		<if test="materielid != null and materielid != ''">
  			and p2.materielid = #{materielid,jdbcType=VARCHAR}
  		</if>
  		<if test="state != null and state != ''">
  			and p1.state = #{state,jdbcType=VARCHAR}
  		</if>
  		<if test="starttime != null and starttime != ''">
  			and p1.billtime <![CDATA[>=]]> #{starttime,jdbcType=BIGINT}
  		</if>
  		<if test="endtime != null and endtime != ''">
  			and p1.billtime <![CDATA[<]]> #{endtime,jdbcType=BIGINT}
  		</if>
  	</where>
  	order by p1.makebilltime
  	<if test="start != null and start >= 0">
  		<if test="limit != null">
			limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  		</if>
  	</if>
  </select>
  <select id="selectByIds" parameterType="java.util.List" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from tr_purchase_db_application
  	where id in
	<foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
		#{item}  
	</foreach>
  </select>
  <select id="findMaxUtc" resultType="Long"  >
    select 
   		max(utc)
    from tr_purchase_db_application
  </select>
  <insert id="insertBatch" parameterType="java.util.List">
	insert into tr_purchase_db_application (id, code, auditstatus, source, billtypeid, billtypename, billtime, sumnum, orgid, orgname, 
    supplierid, suppliername, supplierremark, minemouthid, minemouthname, departmentid, departmentname, buyerid, buyername, auditid, 
    auditname, audittime, state, makerid, makebillname, makebilltime, creator, createtime, 
    modifier, modifytime, remark,utc)
	values
	<foreach collection="list" item="item" index="index" separator=",">
		(#{item.id,jdbcType=VARCHAR}, 
		#{item.code,jdbcType=VARCHAR},
		#{item.auditstatus,jdbcType=VARCHAR},
		#{item.source,jdbcType=VARCHAR},
		#{item.billtypeid,jdbcType=VARCHAR},
		#{item.billtypename,jdbcType=VARCHAR},
		#{item.billtime,jdbcType=BIGINT},
		#{item.sumnum,jdbcType=DOUBLE},
		#{item.orgid,jdbcType=VARCHAR},
		#{item.orgname,jdbcType=VARCHAR},
		#{item.supplierid,jdbcType=VARCHAR},
		#{item.suppliername,jdbcType=VARCHAR},
		#{item.supplierremark,jdbcType=VARCHAR},
		#{item.minemouthid,jdbcType=VARCHAR},
		#{item.minemouthname,jdbcType=VARCHAR},
		#{item.departmentid,jdbcType=VARCHAR},
		#{item.departmentname,jdbcType=VARCHAR},
		#{item.buyerid,jdbcType=VARCHAR},
		#{item.buyername,jdbcType=VARCHAR},
		#{item.auditid,jdbcType=VARCHAR},
		#{item.auditname,jdbcType=VARCHAR},
		#{item.audittime,jdbcType=BIGINT},
		#{item.state,jdbcType=VARCHAR},
		#{item.makerid,jdbcType=VARCHAR},
		#{item.makebillname,jdbcType=VARCHAR},
		#{item.makebilltime,jdbcType=BIGINT},
		#{item.creator,jdbcType=VARCHAR},
		#{item.createtime,jdbcType=BIGINT},
		#{item.modifier,jdbcType=VARCHAR},
		#{item.modifytime,jdbcType=BIGINT},
		#{item.remark,jdbcType=VARCHAR},
		#{item.utc,jdbcType=BIGINT}
		)
	</foreach>
  </insert>
   <select id="selectSelective" parameterType="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseApplication" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from tr_purchase_db_application
  	<where>
  	  <if test="id != null and id != ''" >
        and id = #{id,jdbcType=VARCHAR}
      </if>
  	  <if test="code != null and code !=''" >
        and code = #{code,jdbcType=VARCHAR}
      </if>
      <if test="auditstatus != null and auditstatus !=''" >
        and auditstatus = #{auditstatus,jdbcType=VARCHAR}
      </if>
      <if test="source != null and source !=''" >
        and source = #{source,jdbcType=VARCHAR}
      </if>
      <if test="billtypeid != null and billtypeid !=''" >
        and billtypeid = #{billtypeid,jdbcType=VARCHAR}
      </if>
      <if test="billtypename != null and billtypename !=''" >
        and billtypename = #{billtypename,jdbcType=VARCHAR}
      </if>
      <if test="billtime != null and billtime !=''" >
        and billtime = #{billtime,jdbcType=BIGINT}
      </if>
      <if test="sumnum != null and sumnum !=''" >
        and sumnum = #{sumnum,jdbcType=DOUBLE}
      </if>
      <if test="orgid != null and orgid !=''" >
        and orgid = #{orgid,jdbcType=VARCHAR}
      </if>
      <if test="orgname != null and orgname !=''" >
        and orgname = #{orgname,jdbcType=VARCHAR}
      </if>
      <if test="supplierid != null and supplierid !=''" >
        and supplierid = #{supplierid,jdbcType=VARCHAR}
      </if>
      <if test="suppliername != null and suppliername !=''" >
        and suppliername = #{suppliername,jdbcType=VARCHAR}
      </if>
      <if test="supplierremark != null and supplierremark !=''" >
        and supplierremark = #{supplierremark,jdbcType=VARCHAR}
      </if>
      <if test="minemouthid != null and minemouthid !=''" >
        and minemouthid = #{minemouthid,jdbcType=VARCHAR}
      </if>
      <if test="minemouthname != null and minemouthname !=''" >
        and minemouthname = #{minemouthname,jdbcType=VARCHAR}
      </if>
      <if test="departmentid != null and departmentid !=''" >
        and departmentid = #{departmentid,jdbcType=VARCHAR}
      </if>
      <if test="departmentname != null and departmentname !=''" >
        and departmentname = #{departmentname,jdbcType=VARCHAR}
      </if>
        <if test="buyerid != null and buyerid !=''" >
        and buyerid = #{buyerid,jdbcType=VARCHAR}
      </if>
        <if test="buyername != null and buyername !=''" >
        and buyername = #{buyername,jdbcType=VARCHAR}
      </if>
      <if test="auditid != null and auditid !=''" >
        and auditid = #{auditid,jdbcType=VARCHAR}
      </if>
      <if test="auditname != null and auditname !=''" >
        and auditname = #{auditname,jdbcType=VARCHAR}
      </if>
      <if test="audittime != null and audittime !=''" >
        and audittime = #{audittime,jdbcType=BIGINT}
      </if>
      <if test="state != null and state !=''" >
        and state = #{state,jdbcType=VARCHAR}
      </if>
      <if test="makerid != null and makerid !=''" >
        and makerid = #{makerid,jdbcType=VARCHAR}
      </if>
      <if test="makebillname != null and makebillname !=''" >
        and makebillname = #{makebillname,jdbcType=VARCHAR}
      </if>
      <if test="makebilltime != null and makebilltime !=''" >
        and makebilltime = #{makebilltime,jdbcType=BIGINT}
      </if>
      <if test="creator != null and creator !=''" >
        and creator = #{creator,jdbcType=VARCHAR}
      </if>
      <if test="createtime != null and createtime !=''" >
        and createtime = #{createtime,jdbcType=BIGINT}
      </if>
      <if test="modifier != null and modifier !=''" >
        and modifier = #{modifier,jdbcType=VARCHAR}
      </if>
      <if test="modifytime != null and modifytime !=''" >
        and modifytime = #{modifytime,jdbcType=BIGINT}
      </if>
      <if test="remark != null and remark !=''" >
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="utc != null and utc !=''" >
        and utc = #{utc,jdbcType=BIGINT}
      </if>
  	</where>
  </select>
  <select id="findAppToPageGroupMaterielCount" parameterType="com.tianrui.api.req.businessManage.app.AppOrderReq" resultType="java.lang.Long">
  	select count(1)
  	from tr_purchase_db_application p1
	left join tr_purchase_db_application_detail p2 on p1.id = p2.purchaseid
	<where>
		<if test="state != null and state != ''">
			and p1.state = #{state, jdbcType=VARCHAR}
		</if>
		<if test="code != null and code != ''">
			and p1.code = #{code, jdbcType=VARCHAR}
		</if>
		<if test="materielid != null and materielid != ''">
			and p2.materielid = #{materielid, jdbcType=VARCHAR}
		</if>
      	<if test="userId != null and userId != ''">
			and p1.supplierid = #{userId,jdbcType=VARCHAR}
	  	</if>
      	<if test="starttime != null and starttime != ''">
			and p1.billtime <![CDATA[>=]]> #{starttime,jdbcType=BIGINT}
	  	</if>
	  	<if test="endtime != null and endtime != ''">
			and p1.billtime <![CDATA[<]]> #{endtime,jdbcType=BIGINT}
	 	</if>
	</where>
  </select>
  <select id="findAppToPageGroupMateriel" parameterType="com.tianrui.api.req.businessManage.app.AppOrderReq" resultType="com.tianrui.api.resp.businessManage.app.AppOrderResp">
  	select 
  	p1.id, p2.id as detailid, p1.code, p2.materielname as materialName, p1.suppliername customerName, p2.purchasesum as billSum, p2.margin
  	from tr_purchase_db_application p1
	left join tr_purchase_db_application_detail p2 on p1.id = p2.purchaseid
	<where>
		<if test="state != null and state != ''">
			and p1.state = #{state, jdbcType=VARCHAR}
		</if>
		<if test="code != null and code != ''">
			and p1.code = #{code, jdbcType=VARCHAR}
		</if>
		<if test="materielid != null and materielid != ''">
			and p2.materielid = #{materielid, jdbcType=VARCHAR}
		</if>
      	<if test="userId != null and userId != ''">
			and p1.supplierid = #{userId,jdbcType=VARCHAR}
	  	</if>
      	<if test="starttime != null and starttime != ''">
			and p1.billtime <![CDATA[>=]]> #{starttime,jdbcType=BIGINT}
	  	</if>
	  	<if test="endtime != null and endtime != ''">
			and p1.billtime <![CDATA[<]]> #{endtime,jdbcType=BIGINT}
	 	</if>
	</where>
  	<if test="orderColumn != null and orderColumn != ''">
  		order by #{orderColumn,jdbcType=VARCHAR} 
  		<choose>
  			<when test="orderAsc == 'DESC'">
  				DESC
  			</when>
  			<otherwise>
  				ASC
  			</otherwise>
  		</choose>
  	</if>
  	<if test="start != null and start >= 0">
  		<if test="limit != null">
			limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  		</if>
  	</if>
  </select>
</mapper>