<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianrui.service.mapper.businessManage.purchaseManage.PurchaseStorageListItemMapper">
  <resultMap id="BaseResultMap" type="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseStorageListItem">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="purchase_storage_list_id" jdbcType="VARCHAR" property="purchaseStorageListId" />
    <result column="pk_org" jdbcType="VARCHAR" property="pkOrg" />
    <result column="cmaterialoid" jdbcType="VARCHAR" property="cmaterialoid" />
    <result column="castunitid" jdbcType="VARCHAR" property="castunitid" />
    <result column="nunm" jdbcType="VARCHAR" property="nunm" />
    <result column="nshouldnum" jdbcType="VARCHAR" property="nshouldnum" />
    <result column="pk_creqwareid" jdbcType="VARCHAR" property="pkCreqwareid" />
    <result column="ts" jdbcType="VARCHAR" property="ts" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="nc_id" jdbcType="VARCHAR" property="ncId" />
    <result column="pn_code" jdbcType="VARCHAR" property="pnCode" />
    <result column="gross_weight" jdbcType="DOUBLE" property="grossWeight" />
    <result column="tare_weight" jdbcType="DOUBLE" property="tareWeight" />
    <result column="gross_time" jdbcType="VARCHAR" property="grossTime" />
    <result column="tare_time" jdbcType="VARCHAR" property="tareTime" />
    <result column="vehicle_no" jdbcType="VARCHAR" property="vehicleNo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, purchase_storage_list_id, pk_org, cmaterialoid, castunitid, nunm, nshouldnum, 
    pk_creqwareid, ts, create_time, nc_id, pn_code, gross_weight, tare_weight, gross_time, 
    tare_time, vehicle_no
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tr_purchase_storage_list_item
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tr_purchase_storage_list_item
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseStorageListItem">
    insert into tr_purchase_storage_list_item (id, purchase_storage_list_id, pk_org, 
      cmaterialoid, castunitid, nunm, 
      nshouldnum, pk_creqwareid, ts, 
      create_time, nc_id, pn_code, 
      gross_weight, tare_weight, gross_time, 
      tare_time, vehicle_no)
    values (#{id,jdbcType=VARCHAR}, #{purchaseStorageListId,jdbcType=VARCHAR}, #{pkOrg,jdbcType=VARCHAR}, 
      #{cmaterialoid,jdbcType=VARCHAR}, #{castunitid,jdbcType=VARCHAR}, #{nunm,jdbcType=VARCHAR}, 
      #{nshouldnum,jdbcType=VARCHAR}, #{pkCreqwareid,jdbcType=VARCHAR}, #{ts,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=BIGINT}, #{ncId,jdbcType=VARCHAR}, #{pnCode,jdbcType=VARCHAR}, 
      #{grossWeight,jdbcType=DOUBLE}, #{tareWeight,jdbcType=DOUBLE}, #{grossTime,jdbcType=VARCHAR}, 
      #{tareTime,jdbcType=VARCHAR}, #{vehicleNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseStorageListItem">
    insert into tr_purchase_storage_list_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="purchaseStorageListId != null">
        purchase_storage_list_id,
      </if>
      <if test="pkOrg != null">
        pk_org,
      </if>
      <if test="cmaterialoid != null">
        cmaterialoid,
      </if>
      <if test="castunitid != null">
        castunitid,
      </if>
      <if test="nunm != null">
        nunm,
      </if>
      <if test="nshouldnum != null">
        nshouldnum,
      </if>
      <if test="pkCreqwareid != null">
        pk_creqwareid,
      </if>
      <if test="ts != null">
        ts,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="ncId != null">
        nc_id,
      </if>
      <if test="pnCode != null">
        pn_code,
      </if>
      <if test="grossWeight != null">
        gross_weight,
      </if>
      <if test="tareWeight != null">
        tare_weight,
      </if>
      <if test="grossTime != null">
        gross_time,
      </if>
      <if test="tareTime != null">
        tare_time,
      </if>
      <if test="vehicleNo != null">
        vehicle_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="purchaseStorageListId != null">
        #{purchaseStorageListId,jdbcType=VARCHAR},
      </if>
      <if test="pkOrg != null">
        #{pkOrg,jdbcType=VARCHAR},
      </if>
      <if test="cmaterialoid != null">
        #{cmaterialoid,jdbcType=VARCHAR},
      </if>
      <if test="castunitid != null">
        #{castunitid,jdbcType=VARCHAR},
      </if>
      <if test="nunm != null">
        #{nunm,jdbcType=VARCHAR},
      </if>
      <if test="nshouldnum != null">
        #{nshouldnum,jdbcType=VARCHAR},
      </if>
      <if test="pkCreqwareid != null">
        #{pkCreqwareid,jdbcType=VARCHAR},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="ncId != null">
        #{ncId,jdbcType=VARCHAR},
      </if>
      <if test="pnCode != null">
        #{pnCode,jdbcType=VARCHAR},
      </if>
      <if test="grossWeight != null">
        #{grossWeight,jdbcType=DOUBLE},
      </if>
      <if test="tareWeight != null">
        #{tareWeight,jdbcType=DOUBLE},
      </if>
      <if test="grossTime != null">
        #{grossTime,jdbcType=VARCHAR},
      </if>
      <if test="tareTime != null">
        #{tareTime,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null">
        #{vehicleNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseStorageListItem">
    update tr_purchase_storage_list_item
    <set>
      <if test="purchaseStorageListId != null">
        purchase_storage_list_id = #{purchaseStorageListId,jdbcType=VARCHAR},
      </if>
      <if test="pkOrg != null">
        pk_org = #{pkOrg,jdbcType=VARCHAR},
      </if>
      <if test="cmaterialoid != null">
        cmaterialoid = #{cmaterialoid,jdbcType=VARCHAR},
      </if>
      <if test="castunitid != null">
        castunitid = #{castunitid,jdbcType=VARCHAR},
      </if>
      <if test="nunm != null">
        nunm = #{nunm,jdbcType=VARCHAR},
      </if>
      <if test="nshouldnum != null">
        nshouldnum = #{nshouldnum,jdbcType=VARCHAR},
      </if>
      <if test="pkCreqwareid != null">
        pk_creqwareid = #{pkCreqwareid,jdbcType=VARCHAR},
      </if>
      <if test="ts != null">
        ts = #{ts,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="ncId != null">
        nc_id = #{ncId,jdbcType=VARCHAR},
      </if>
      <if test="pnCode != null">
        pn_code = #{pnCode,jdbcType=VARCHAR},
      </if>
      <if test="grossWeight != null">
        gross_weight = #{grossWeight,jdbcType=DOUBLE},
      </if>
      <if test="tareWeight != null">
        tare_weight = #{tareWeight,jdbcType=DOUBLE},
      </if>
      <if test="grossTime != null">
        gross_time = #{grossTime,jdbcType=VARCHAR},
      </if>
      <if test="tareTime != null">
        tare_time = #{tareTime,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null">
        vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseStorageListItem">
    update tr_purchase_storage_list_item
    set purchase_storage_list_id = #{purchaseStorageListId,jdbcType=VARCHAR},
      pk_org = #{pkOrg,jdbcType=VARCHAR},
      cmaterialoid = #{cmaterialoid,jdbcType=VARCHAR},
      castunitid = #{castunitid,jdbcType=VARCHAR},
      nunm = #{nunm,jdbcType=VARCHAR},
      nshouldnum = #{nshouldnum,jdbcType=VARCHAR},
      pk_creqwareid = #{pkCreqwareid,jdbcType=VARCHAR},
      ts = #{ts,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      nc_id = #{ncId,jdbcType=VARCHAR},
      pn_code = #{pnCode,jdbcType=VARCHAR},
      gross_weight = #{grossWeight,jdbcType=DOUBLE},
      tare_weight = #{tareWeight,jdbcType=DOUBLE},
      gross_time = #{grossTime,jdbcType=VARCHAR},
      tare_time = #{tareTime,jdbcType=VARCHAR},
      vehicle_no = #{vehicleNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByOrderIds" parameterType="java.util.List" resultMap="BaseResultMap">
    select 
        <include refid="Base_Column_List"/>
    from tr_purchase_storage_list_item
    where purchase_storage_list_id in
    <foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
        #{item}
    </foreach>
  </select>
</mapper>