<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.businessManage.purchaseManage.PurchaseArriveMapper" >
  <resultMap id="BaseResultMap" type="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseArrive" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="auditstatus" property="auditstatus" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="supplierid" property="supplierid" jdbcType="VARCHAR" />
    <result column="suppliername" property="suppliername" jdbcType="VARCHAR" />
    <result column="supplierremark" property="supplierremark" jdbcType="VARCHAR" />
    <result column="minemouthid" property="minemouthid" jdbcType="VARCHAR" />
    <result column="minemouthname" property="minemouthname" jdbcType="VARCHAR" />
    <result column="vehicleid" property="vehicleid" jdbcType="VARCHAR" />
    <result column="vehicleno" property="vehicleno" jdbcType="VARCHAR" />
    <result column="vehiclerfid" property="vehiclerfid" jdbcType="VARCHAR" />
    <result column="driverid" property="driverid" jdbcType="VARCHAR" />
    <result column="drivername" property="drivername" jdbcType="VARCHAR" />
    <result column="driveridentityno" property="driveridentityno" jdbcType="VARCHAR" />
    <result column="billid" property="billid" jdbcType="VARCHAR" />
    <result column="billcode" property="billcode" jdbcType="VARCHAR" />
    <result column="abnormalperson" property="abnormalperson" jdbcType="VARCHAR" />
    <result column="abnormalpersonname" property="abnormalpersonname" jdbcType="VARCHAR" />
    <result column="abnormaltime" property="abnormaltime" jdbcType="BIGINT" />
    <result column="arrivalamount" property="arrivalamount" jdbcType="DOUBLE" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="makerid" property="makerid" jdbcType="VARCHAR" />
    <result column="makebillname" property="makebillname" jdbcType="VARCHAR" />
    <result column="makebilltime" property="makebilltime" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="BIGINT" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modifytime" property="modifytime" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, auditstatus, source, status, supplierid, suppliername, supplierremark, 
    minemouthid, minemouthname, vehicleid, vehicleno, vehiclerfid, driverid, drivername, 
    driveridentityno, billid, billcode, abnormalperson, abnormalpersonname, abnormaltime, 
    arrivalamount, unit, makerid, makebillname, makebilltime, state, creator, createtime, modifier, 
    modifytime, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tr_purchase_db_arrive
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tr_purchase_db_arrive
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseArrive" >
    insert into tr_purchase_db_arrive (id, code, auditstatus, 
      source, status, supplierid, 
      suppliername, supplierremark, minemouthid, 
      minemouthname, vehicleid, vehicleno, 
      vehiclerfid, driverid, drivername, 
      driveridentityno, billid, billcode, 
      abnormalperson, abnormalpersonname, abnormaltime, 
      arrivalamount, unit, makerid, 
      makebillname, makebilltime, state, creator, 
      createtime, modifier, modifytime, 
      remark)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{auditstatus,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{supplierid,jdbcType=VARCHAR}, 
      #{suppliername,jdbcType=VARCHAR}, #{supplierremark,jdbcType=VARCHAR}, #{minemouthid,jdbcType=VARCHAR}, 
      #{minemouthname,jdbcType=VARCHAR}, #{vehicleid,jdbcType=VARCHAR}, #{vehicleno,jdbcType=VARCHAR}, 
      #{vehiclerfid,jdbcType=VARCHAR}, #{driverid,jdbcType=VARCHAR}, #{drivername,jdbcType=VARCHAR}, 
      #{driveridentityno,jdbcType=VARCHAR}, #{billid,jdbcType=VARCHAR}, #{billcode,jdbcType=VARCHAR}, 
      #{abnormalperson,jdbcType=VARCHAR}, #{abnormalpersonname,jdbcType=VARCHAR}, #{abnormaltime,jdbcType=BIGINT}, 
      #{arrivalamount,jdbcType=DOUBLE}, #{unit,jdbcType=VARCHAR}, #{makerid,jdbcType=VARCHAR}, 
      #{makebillname,jdbcType=VARCHAR}, #{makebilltime,jdbcType=BIGINT}, #{state,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=BIGINT}, #{modifier,jdbcType=VARCHAR}, #{modifytime,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseArrive" >
    insert into tr_purchase_db_arrive
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="auditstatus != null" >
        auditstatus,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="supplierid != null" >
        supplierid,
      </if>
      <if test="suppliername != null" >
        suppliername,
      </if>
      <if test="supplierremark != null" >
        supplierremark,
      </if>
      <if test="minemouthid != null" >
        minemouthid,
      </if>
      <if test="minemouthname != null" >
        minemouthname,
      </if>
      <if test="vehicleid != null" >
        vehicleid,
      </if>
      <if test="vehicleno != null" >
        vehicleno,
      </if>
      <if test="vehiclerfid != null" >
        vehiclerfid,
      </if>
      <if test="driverid != null" >
        driverid,
      </if>
      <if test="drivername != null" >
        drivername,
      </if>
      <if test="driveridentityno != null" >
        driveridentityno,
      </if>
      <if test="billid != null" >
        billid,
      </if>
      <if test="billcode != null" >
        billcode,
      </if>
      <if test="abnormalperson != null" >
        abnormalperson,
      </if>
      <if test="abnormalpersonname != null" >
        abnormalpersonname,
      </if>
      <if test="abnormaltime != null" >
        abnormaltime,
      </if>
      <if test="arrivalamount != null" >
        arrivalamount,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="makerid != null" >
        makerid,
      </if>
      <if test="makebillname != null" >
        makebillname,
      </if>
      <if test="makebilltime != null" >
        makebilltime,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifytime != null" >
        modifytime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="auditstatus != null" >
        #{auditstatus,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="supplierid != null" >
        #{supplierid,jdbcType=VARCHAR},
      </if>
      <if test="suppliername != null" >
        #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="supplierremark != null" >
        #{supplierremark,jdbcType=VARCHAR},
      </if>
      <if test="minemouthid != null" >
        #{minemouthid,jdbcType=VARCHAR},
      </if>
      <if test="minemouthname != null" >
        #{minemouthname,jdbcType=VARCHAR},
      </if>
      <if test="vehicleid != null" >
        #{vehicleid,jdbcType=VARCHAR},
      </if>
      <if test="vehicleno != null" >
        #{vehicleno,jdbcType=VARCHAR},
      </if>
      <if test="vehiclerfid != null" >
        #{vehiclerfid,jdbcType=VARCHAR},
      </if>
      <if test="driverid != null" >
        #{driverid,jdbcType=VARCHAR},
      </if>
      <if test="drivername != null" >
        #{drivername,jdbcType=VARCHAR},
      </if>
      <if test="driveridentityno != null" >
        #{driveridentityno,jdbcType=VARCHAR},
      </if>
      <if test="billid != null" >
        #{billid,jdbcType=VARCHAR},
      </if>
      <if test="billcode != null" >
        #{billcode,jdbcType=VARCHAR},
      </if>
      <if test="abnormalperson != null" >
        #{abnormalperson,jdbcType=VARCHAR},
      </if>
      <if test="abnormalpersonname != null" >
        #{abnormalpersonname,jdbcType=VARCHAR},
      </if>
      <if test="abnormaltime != null" >
        #{abnormaltime,jdbcType=BIGINT},
      </if>
      <if test="arrivalamount != null" >
        #{arrivalamount,jdbcType=DOUBLE},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="makerid != null" >
        #{makerid,jdbcType=VARCHAR},
      </if>
      <if test="makebillname != null" >
        #{makebillname,jdbcType=VARCHAR},
      </if>
      <if test="makebilltime != null" >
        #{makebilltime,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseArrive" >
    update tr_purchase_db_arrive
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="auditstatus != null" >
        auditstatus = #{auditstatus,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="supplierid != null" >
        supplierid = #{supplierid,jdbcType=VARCHAR},
      </if>
      <if test="suppliername != null" >
        suppliername = #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="supplierremark != null" >
        supplierremark = #{supplierremark,jdbcType=VARCHAR},
      </if>
      <if test="minemouthid != null" >
        minemouthid = #{minemouthid,jdbcType=VARCHAR},
      </if>
      <if test="minemouthname != null" >
        minemouthname = #{minemouthname,jdbcType=VARCHAR},
      </if>
      <if test="vehicleid != null" >
        vehicleid = #{vehicleid,jdbcType=VARCHAR},
      </if>
      <if test="vehicleno != null" >
        vehicleno = #{vehicleno,jdbcType=VARCHAR},
      </if>
      <if test="vehiclerfid != null" >
        vehiclerfid = #{vehiclerfid,jdbcType=VARCHAR},
      </if>
      <if test="driverid != null" >
        driverid = #{driverid,jdbcType=VARCHAR},
      </if>
      <if test="drivername != null" >
        drivername = #{drivername,jdbcType=VARCHAR},
      </if>
      <if test="driveridentityno != null" >
        driveridentityno = #{driveridentityno,jdbcType=VARCHAR},
      </if>
      <if test="billid != null" >
        billid = #{billid,jdbcType=VARCHAR},
      </if>
      <if test="billcode != null" >
        billcode = #{billcode,jdbcType=VARCHAR},
      </if>
      <if test="abnormalperson != null" >
        abnormalperson = #{abnormalperson,jdbcType=VARCHAR},
      </if>
      <if test="abnormalpersonname != null" >
        abnormalpersonname = #{abnormalpersonname,jdbcType=VARCHAR},
      </if>
      <if test="abnormaltime != null" >
        abnormaltime = #{abnormaltime,jdbcType=BIGINT},
      </if>
      <if test="arrivalamount != null" >
        arrivalamount = #{arrivalamount,jdbcType=DOUBLE},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="makerid != null" >
        makerid = #{makerid,jdbcType=VARCHAR},
      </if>
      <if test="makebillname != null" >
        makebillname = #{makebillname,jdbcType=VARCHAR},
      </if>
      <if test="makebilltime != null" >
        makebilltime = #{makebilltime,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        modifytime = #{modifytime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseArrive" >
    update tr_purchase_db_arrive
    set code = #{code,jdbcType=VARCHAR},
      auditstatus = #{auditstatus,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      supplierid = #{supplierid,jdbcType=VARCHAR},
      suppliername = #{suppliername,jdbcType=VARCHAR},
      supplierremark = #{supplierremark,jdbcType=VARCHAR},
      minemouthid = #{minemouthid,jdbcType=VARCHAR},
      minemouthname = #{minemouthname,jdbcType=VARCHAR},
      vehicleid = #{vehicleid,jdbcType=VARCHAR},
      vehicleno = #{vehicleno,jdbcType=VARCHAR},
      vehiclerfid = #{vehiclerfid,jdbcType=VARCHAR},
      driverid = #{driverid,jdbcType=VARCHAR},
      drivername = #{drivername,jdbcType=VARCHAR},
      driveridentityno = #{driveridentityno,jdbcType=VARCHAR},
      billid = #{billid,jdbcType=VARCHAR},
      billcode = #{billcode,jdbcType=VARCHAR},
      abnormalperson = #{abnormalperson,jdbcType=VARCHAR},
      abnormalpersonname = #{abnormalpersonname,jdbcType=VARCHAR},
      abnormaltime = #{abnormaltime,jdbcType=BIGINT},
      arrivalamount = #{arrivalamount,jdbcType=DOUBLE},
      unit = #{unit,jdbcType=VARCHAR},
      makerid = #{makerid,jdbcType=VARCHAR},
      makebillname = #{makebillname,jdbcType=VARCHAR},
      makebilltime = #{makebilltime,jdbcType=BIGINT},
      state = #{state,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=BIGINT},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifytime = #{modifytime,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectSelective" parameterType="com.tianrui.service.bean.businessManage.purchaseManage.PurchaseArrive" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from tr_purchase_db_arrive
	<where>
	  <if test="id != null and id != ''" >
        and id = #{id,jdbcType=VARCHAR}
      </if>
	  <if test="code != null and code != ''" >
        and code = #{code,jdbcType=VARCHAR}
      </if>
      <if test="auditstatus != null and auditstatus != ''" >
        and auditstatus = #{auditstatus,jdbcType=VARCHAR}
      </if>
      <if test="source != null and source != ''" >
        and source = #{source,jdbcType=VARCHAR}
      </if>
      <if test="status != null and status != ''" >
        and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="supplierid != null and supplierid != ''" >
        and supplierid = #{supplierid,jdbcType=VARCHAR}
      </if>
      <if test="suppliername != null and suppliername != ''" >
        and suppliername = #{suppliername,jdbcType=VARCHAR}
      </if>
      <if test="supplierremark != null and supplierremark != ''" >
        and supplierremark = #{supplierremark,jdbcType=VARCHAR}
      </if>
      <if test="minemouthid != null and minemouthid != ''" >
        and minemouthid = #{minemouthid,jdbcType=VARCHAR}
      </if>
      <if test="minemouthname != null and minemouthname != ''" >
        and minemouthname = #{minemouthname,jdbcType=VARCHAR}
      </if>
      <if test="vehicleid != null and vehicleid != ''" >
        and vehicleid = #{vehicleid,jdbcType=VARCHAR}
      </if>
      <if test="vehicleno != null and vehicleno != ''" >
        and vehicleno = #{vehicleno,jdbcType=VARCHAR}
      </if>
      <if test="vehiclerfid != null and vehiclerfid != ''" >
        and vehiclerfid = #{vehiclerfid,jdbcType=VARCHAR}
      </if>
      <if test="driverid != null and driverid != ''" >
        and driverid = #{driverid,jdbcType=VARCHAR}
      </if>
      <if test="drivername != null and drivername != ''" >
        and drivername = #{drivername,jdbcType=VARCHAR}
      </if>
      <if test="driveridentityno != null and driveridentityno != ''" >
        and driveridentityno = #{driveridentityno,jdbcType=VARCHAR}
      </if>
      <if test="billid != null and billid != ''" >
        and billid = #{billid,jdbcType=VARCHAR}
      </if>
      <if test="billcode != null and billcode != ''" >
        and billcode = #{billcode,jdbcType=VARCHAR}
      </if>
      <if test="abnormalperson != null and abnormalperson != ''" >
        and abnormalperson = #{abnormalperson,jdbcType=VARCHAR}
      </if>
      <if test="abnormalpersonname != null and abnormalpersonname != ''" >
        and abnormalpersonname = #{abnormalpersonname,jdbcType=VARCHAR}
      </if>
      <if test="abnormaltime != null and abnormaltime != ''" >
        and abnormaltime = #{abnormaltime,jdbcType=BIGINT}
      </if>
      <if test="arrivalamount != null and arrivalamount != ''" >
        and arrivalamount = #{arrivalamount,jdbcType=DOUBLE}
      </if>
      <if test="unit != null and unit != ''" >
        and unit = #{unit,jdbcType=VARCHAR}
      </if>
      <if test="makerid != null and makerid != ''" >
        and makerid = #{makerid,jdbcType=VARCHAR}
      </if>
      <if test="makebillname != null and makebillname != ''" >
        and makebillname = #{makebillname,jdbcType=VARCHAR}
      </if>
      <if test="makebilltime != null and makebilltime != ''" >
        and makebilltime = #{makebilltime,jdbcType=BIGINT}
      </if>
      <if test="state != null and state != ''" >
        and state = #{state,jdbcType=VARCHAR}
      </if>
      <if test="creator != null and creator != ''" >
        and creator = #{creator,jdbcType=VARCHAR}
      </if>
      <if test="createtime != null and createtime != ''" >
        and createtime = #{createtime,jdbcType=BIGINT}
      </if>
      <if test="modifier != null and modifier != ''" >
        and modifier = #{modifier,jdbcType=VARCHAR}
      </if>
      <if test="modifytime != null and modifytime != ''" >
        and modifytime = #{modifytime,jdbcType=BIGINT}
      </if>
      <if test="remark != null and remark != ''" >
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
	</where>	
  </select>
  <select id="findPurchaseArrivePage" parameterType="com.tianrui.api.req.businessManage.purchaseManage.PurchaseArriveQuery" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from tr_purchase_db_arrive p1
  	left join tr_purchase_db_application p2 on p1.billid = p2.id
  	left join tr_purchase_db_application_detail p3 on p2.id = p3.purchaseid
  	<where>
  	  <if test="code != null and code !=''" >
        and p1.code = #{code,jdbcType=VARCHAR}
      </if>
  	  <if test="auditstatus != null and auditstatus !=''" >
        and p1.auditstatus = #{auditstatus,jdbcType=VARCHAR}
      </if>
  	  <if test="source != null and source !=''" >
        and p1.source = #{source,jdbcType=VARCHAR}
      </if>
  	  <if test="status != null and status !=''" >
        and p1.status = #{status,jdbcType=VARCHAR}
      </if>
  	  <if test="supplierid != null and supplierid !=''" >
        and p1.supplierid = #{supplierid,jdbcType=VARCHAR}
      </if>
  	  <if test="vehicleid != null and vehicleid !=''" >
        and p1.vehicleid = #{vehicleid,jdbcType=VARCHAR}
      </if>
  	  <if test="driverid != null and driverid !=''" >
        and p1.driverid = #{driverid,jdbcType=VARCHAR}
      </if>
  	  <if test="materielid != null and materielid !=''" >
        and p3.materielid = #{materielid,jdbcType=VARCHAR}
      </if>
  	  <if test="billcode != null and billcode !=''" >
        and p1.billcode = #{billcode,jdbcType=VARCHAR}
      </if>
  	  <if test="state != null and state !=''" >
        and p1.state = #{state,jdbcType=VARCHAR}
      </if>
	  <if test="starttime != null and starttime != ''">
		and p1.makebilltime <![CDATA[>=]]> #{starttime,jdbcType=BIGINT}
	  </if>
	  <if test="endtime != null and endtime != ''">
		and makebilltime <![CDATA[<]]> #{endtime,jdbcType=BIGINT}
	  </if>
  	</where>
  	order by p1.makebilltime
  	<if test="start != null and start >= 0">
  		<if test="limit != null">
			limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  		</if>
  	</if>
  </select>
  <select id="findPurchaseArrivePageCount" parameterType="com.tianrui.api.req.businessManage.purchaseManage.PurchaseArriveQuery" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from tr_purchase_db_arrive p1
  	left join tr_purchase_db_application p2 on p1.billid = p2.id
  	left join tr_purchase_db_application_detail p3 on p2.id = p3.purchaseid
  	<where>
  	  <if test="code != null and code !=''" >
        and p1.code = #{code,jdbcType=VARCHAR}
      </if>
  	  <if test="auditstatus != null and auditstatus !=''" >
        and p1.auditstatus = #{auditstatus,jdbcType=VARCHAR}
      </if>
  	  <if test="source != null and source !=''" >
        and p1.source = #{source,jdbcType=VARCHAR}
      </if>
  	  <if test="status != null and status !=''" >
        and p1.status = #{status,jdbcType=VARCHAR}
      </if>
  	  <if test="supplierid != null and supplierid !=''" >
        and p1.supplierid = #{supplierid,jdbcType=VARCHAR}
      </if>
  	  <if test="vehicleid != null and vehicleid !=''" >
        and p1.vehicleid = #{vehicleid,jdbcType=VARCHAR}
      </if>
  	  <if test="driverid != null and driverid !=''" >
        and p1.driverid = #{driverid,jdbcType=VARCHAR}
      </if>
  	  <if test="materielid != null and materielid !=''" >
        and p3.materielid = #{materielid,jdbcType=VARCHAR}
      </if>
  	  <if test="billcode != null and billcode !=''" >
        and p1.billcode = #{billcode,jdbcType=VARCHAR}
      </if>
  	  <if test="state != null and state !=''" >
        and p1.state = #{state,jdbcType=VARCHAR}
      </if>
	  <if test="starttime != null and starttime != ''">
		and p1.makebilltime <![CDATA[>=]]> #{starttime,jdbcType=BIGINT}
	  </if>
	  <if test="endtime != null and endtime != ''">
		and makebilltime <![CDATA[<]]> #{endtime,jdbcType=BIGINT}
	  </if>
  	</where>
  </select>
</mapper>