/*左侧折叠菜单*/
.menu_collap{
    margin-top: 15px;
}
.menu_collap a.menu_collap_tit{
    font-size: 16px;
    padding: 20px 20px;
    display: block;
}
.menu_collap a.menu_collap_tit span{
    margin-left: 50px;
}
.menu_collap .typelist li{
    line-height: 50px;
    /* padding-left: 43px; */
    margin: 0;
    cursor: pointer;
}
.menu_collap .typelist li i{
    font-size: 17px;
    margin-right: 8px;
}
.menu_collap .typelist li a {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 43px;
}
.menu_collap .typelist li.active,.menu_collap .typelist li:focus,.menu_collap .typelist li:hover{
    background: #f5f6fb;
    border-left: 4px solid #0573c7;
    color: #0573c7;
}
.menu_collap .typelist li.active a,.menu_collap .typelist li:focus a,.menu_collap .typelist li:hover a{
    margin-left: -4px;
}
/*角色权限折叠菜单*/
.sys_collap{
    margin-top: 5px;
}
.sys_collap a.menu_collap_tit{
    font-size: 16px;
    padding: 10px 10px;
    display: block;
}
.sys_collap a.menu_collap_tit span{
}
.sys_collap .typelist{
}
.sys_collap .typelist li{
    line-height: 40px;
    padding-left: 33px;
    margin: 0;
    cursor: pointer;
}
.sys_collap .typelist li i{
    font-size: 16px;
    margin-right: 1px;
}
.sys_collap .typelist li.active,.sys_collap .typelist li:focus,.sys_collap .typelist li:hover{
    background: #ffffff;
    color: #0573c7;
}