.colorlv{
    color:#63e47e;
}
.coloradd{
    color: #529cd6;
}
.colorred{
    color: #d61e3c;
}
.colorblue{
    color: #0573c7;
}
.colorgray{
    color: #c9cad2;
}
.btn,.btn:focus,.btn:hover,.btn:active{
    outline: none;
}
.btnyello{background: #fb841b;color: #ffffff;}
.btnyello:hover{background: #e3710d;color: #ffffff;}
.btnblue{background: #0574c6;color: #ffffff;}
.btnblue:hover{background: #166aa8;color: #ffffff;}
.btnblue:focus{
    color: #ffffff;
}
.btngray{background: #e1e1e1;color: #434e8d;}
.btngray:hover{background: #d1d1d1;color: #434e8d;}
.btngray:focus{
    color: #434e8d;
}
.btndartblue{background: #434e8d;color: #ffffff;}
.btndartblue:hover{background: #5661a2; color: #ffffff;}
.bghui{
    background: #f5f6fb;
}

.btn_little{
    font-size: 12px;
    padding: 0 10px;
    line-height: 26px;
}
.wrap{
    width: 1200px;
    padding: 0;
    margin: 0 auto;
}
.wrapreg{
    width: 1000px;
    padding: 0;
    margin: 0 auto;
}
.form-control{
    border: 1px solid #e3e4ea;
    display: inline-block;
}
input[readOnly="true"]{
    background: #f5f6fb;
}
.modal-body input[type="text"]{
    font-size: 12px;
}
.it_admin{
    min-width: 1340px;
}
.left{
    width: 200px;
    color: #434e8d;
    font-size: 14px;
    float: left;
}
.leftmini{
    width: 100px;
    color: #434e8d;
    font-size: 14px;
    float: left;
}
.right{
    color: #434e8d;
}
.user{
    height: 60px;
    border-bottom: 1px solid #ecedf3;
    padding: 12px 20px 10px 28px;
    border-right: 1px solid #ecedf3;
}
.user img{
    max-width: 40px;
    max-height: 40px;
    border:3px solid #ecedf3;
    margin-right: 10px;
}
.user label{
    color: #434e8d;
}


/* 用户弹出框 */
.dropdown-menu{width: 200px;z-index: 99;color: #434e8d;}
.dropdown-menu .divider{ margin:4px 0px;}
.dropdown-menu > li > a{ padding:3px 0px 3px 40px;font-size:14px;color: #434e8d;}
.dropdown-menu > li > a i{ padding-right:5px;font-size:18px;vertical-align:top}
.dropdown-menu li a:hover, .dropdown-menu .active a, .dropdown-menu .active a:hover {
    color: #eeeeee;
    background:#205d93;
}
.user{
    position: relative;
    color: #434e8d;
}

.user .dropdown-toggle i{
    padding-top: 13px;
    float: right;
}

.menu{
    padding: 15px 20px 15px 28px;

}
.menu i{
    cursor: pointer;
}
.menu2{
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
}
.menu2 i{
    font-size: 20px;
}

/*标题切换*/

.intel_tab{
    background: #fafbfe;
    color: #434e8d;
    border-bottom: 1px solid #ececec;
    overflow: hidden;
}
.intel_tab .intel_menu{
    float: left;
}
.intel_tab .intel_menu li{
    width: 160px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
    font-size: 14px;
    cursor: pointer;
}
.intel_tab .intel_menu li.select,.intel_tab .intel_menu li:hover{
    color: #ffffff;
    background: #166aa8;
}
.intel_tab .intel_menu li.select a,.intel_tab .intel_menu li:hover a{
    color: #ffffff;
    display: block;
    width: 100%;
    height: 100%;
}
.intel_tab .top_opera{
    width: 170px;
    float: right;
    margin-right: 30px;
}
.intel_tab .top_opera a{
    color: #434e8d;
    height: 60px;
}
.intel_tab .top_opera i{
    color: #434e8d;
    line-height: 60px;
    font-size: 20px;
    margin: 0 12px;
}

.intel_tabbox .intel_tabcont{
    border-left: 1px solid #dbe7f3;
    padding:0 10px;
    overflow: hidden;
}
.intel_search{
    border-left: 1px solid #ecedf3;
    border-right: 1px solid #ecedf3;
    border-bottom: 1px solid #ecedf3;
    padding: 15px;
    position: relative;
    margin-top: 15px;
    color: #434e8d;
}
.intel_bggray{
    width: 100%;
    height: 4px;
    background: #dbe7f3;
    position: absolute;
    top: 0;
    left: 0;
}
.intel_bgblue{
    width: 100%;
    height: 2px;
    background: #529cd6;
    margin-top: 1px;
}
.intel_search{
}
.intel_search .intel_sconditon{
    padding: 0;
    position: relative;
}
.intel_search .intel_solo{
    text-align: right;
    float: left;
    margin:5px 15px 5px 0;
    font-size: 12px;
    position: relative;
}
.intel_search .intel_solo ul{
    display: none;
}
.intel_search .intel_sline{
    overflow: hidden;
}
.intel_search .intel_solo label{
     width: 80px;
     text-align: right;
 }

.intel_search .intel_solo select{
    width: 156px;
    display: inline-block;
    font-size: 12px;
    height: 30px;
}
.intel_search .intel_solo input[type="text"]{
    width: 160px;
    display: inline-block;
    font-size: 12px;
}
.intel_search .intel_solo .intel_sbtn{
    float: left;
    padding: 0 0 0 80px;
}
.intel_search .intel_solo .intel_sbtn button{
    margin:0 10px 0 15px;
    line-height: 28px;
    padding: 0px 18px;
    float: left;
}

.intel_search .intel_solo .intel_sbtn input[type="checkbox"]{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 0;
}
.intel_search .intel_solo .intel_sbtn span{
    line-height: 30px;
}
.intel_search .intel_solo input.mini_input{
    width: 86px;
    vertical-align: top;
}
.intel_search .intel_solo .mini_select{
    width:72px;
}
.intel_opera{
    padding: 15px 10px;
    overflow: hidden;
}
.intel_opera .intel_operasolo{
    padding: 0px 0;
    float: left;
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
}
.intel_opera .intel_operasolo i{
    font-size: 18px;
}
.intel_opera .intel_operasolo h5{
    display: inline-block;
    font-size: 16px;
}
.intel_opera .intel_operasolo a{
    color: #434e8d;
}
.wai{
    width: 1700px;
    overflow: auto;
}
.intel_table {
    width: 100%;
    overflow-x: auto;
}
.intel_tabbox .intel_tabcont .intel_table table{
    background: #f5f6fb;
    font-size: 12px;
    text-align: center;
}
.intel_tabbox .intel_tabcont .intel_table table thead th{
    background: #f5f6fb;
    font-size: 14px;
    text-align: center;
    line-height: 33px;
    white-space: nowrap;
    color: #0573c7;
}
.intel_tabbox .intel_tabcont .intel_table table tbody i{
    font-size: 17px;
    cursor: pointer;
    margin: 0 5px;
}
.intel_tabbox .intel_tabcont .intel_table table tbody td{
    line-height: 33px;
    cursor: pointer;
    min-width: 100px;
    white-space: nowrap;
}
.intel_tabbox .intel_tabcont .intel_table table tbody tr.select{
    background: #ffffff;
}

.intel_tabbox .intel_tabcont .intel_table .table-hover > tbody > tr:hover {
    background: #ffffff;
}
/*下面的表内容*/
.intel_result{
    padding: 0px;
    position: relative;
    color: #434e8d;
    display: none;
}
/*分页效果*/
.page{
    width: 1000px;
    margin: 20px auto;
}
.page_middle{
    width: 860px;
    margin: 20px 10px 20px 0;
    float: right;
}
.page_date{
    display: inline-block;
    margin-right:30px;
    outline: none;
}
.page_date i{
    margin-right: 2px;
}
.page_date input[type='text']{
    height: 26px;
    line-height: 20px;
    padding:0px 8px;
    width: 40px;
    text-align: center;
}
.page_date button{
    height: 26px;
    line-height: 20px;
    padding:0px 8px;
    text-align: center;
    font-size: 12px;
    vertical-align: top;
    margin-left: 10px;
    background: #ffffff;
    border: 1px solid #cccccc;
}
.page_date .form-control{
    width: 80px;
    height: 26px;
    padding: 0 15px;
}
/*登录*/
.header{
    color: #434e8d;
    font-size: 12px;
}
.header label{
    line-height: 40px;
}
.login{
    margin: 45px 0 50px 0;
}
.login .lgcont{
    margin: 45px 80px 50px 40px;
}
.login .lgcont .lgleft{
    width: 630px;
    float: left;
}
.login .lgcont .lgleft img{
   display: block;
    margin: 20px auto 0 auto;
}
.login .lgcont .lgright{
    width: 400px;
    float: right;
    border:1px solid #dfe0e9;
    padding: 30px 34px 40px 34px;
    color: #434e8d;
}
.login .lgcont .lgright .lgline1 label{
    font-size: 18px;
    line-height: 30px;
    padding-left: 8px;
}
.login .lgcont .lgright .lgline1 span{
    font-size: 14px;
    color: #0573c7;
    line-height: 30px;
}
.login .lgcont .lgright .lgline2{
    border: 1px solid #fb0f0f;
    border-radius: 5px;
    line-height: 30px;
    padding: 0 12px;
    margin-top: 10px;
}
.lgline3 input[type="text"],.lgline3 input[type="password"]{
    border: none;
    width: 100px;
    padding: 0 5px;
}
input[type="text"]::-webkit-input-placeholder, input::-webkit-input-placeholder{
    color: #cbccdb;
}

input[type="text"]:-moz-placeholder, input:-moz-placeholder{
    color: #cbccdb;
}

input[type="text"]::-moz-placeholder, input::-moz-placeholder{
    color: #cbccdb;
}
input[type="text"]:-ms-input-placeholder, input:-ms-input-placeholder{
      color: #cbccdb;
  }
.login .lgcont .lgright .lgline3{
    border: 1px solid #dfe0e9;
    border-radius: 2px;
    line-height: 44px;
    padding: 0 12px;
    margin-top: 15px;
}
.login .lgcont .lgright .lgline3 i{
    font-size: 22px;
}
.login .lgcont .lgright .lgline4{
    margin-top: 10px;
    overflow: hidden;
}
.login .lgcont .lgright .lgline4 input{
    width: 100px;
    height:44px;
    padding: 0 10px;
    text-align: center;
    float: left;
}
.login .lgcont .lgright .lgline4 .yanz{
    width: 120px;
    float: left;
    margin-left: 15px;
}
.login .lgcont .lgright button{
    background: #0c55ff;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    padding: 15px 0;
    margin-top: 30px;
}
.reg_top{
    margin: 36px 0;
    overflow: hidden;
}
.reg_top img{
    margin: 20px 0 0 50px;
    float: left;
}
.reg_top .reg_wel{
    width: 320px;
    float: left;
    border-left: 3px solid #0573c7;
    margin-left: 73px;

}
.reg_top .reg_wel h3{
    color: #0573c7;
    font-size: 60px;
    line-height: 150px;
    margin: 0 0 0 73px;
}
.reg_cont{
    border-left: 1px solid #dfe0e9;
    border-right: 1px solid #dfe0e9;
    border-bottom: 1px solid #dfe0e9;
    border-top: 5px solid #0573c7;
    padding: 30px 0 40px 0;
    color: #434e8d;
    margin-bottom: 60px;
    -moz-box-shadow:  0 3px 5px rgba(223,223,233,0.7);
    -webkit-box-shadow: 0 3px 5px rgba(223,223,233,0.7);
    box-shadow: 0 3px 5px rgba(223,223,233,0.7);
}
.reg_cont .reg_conttop{
    background: url("../images/regbg.png") no-repeat bottom;
    margin-bottom: 70px;
}
.reg_cont .reg_conttop h4{
    font-size: 18px;
    color: #ffffff;
    background: #0573c7;
    width: 160px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin:0 0 0 225px;
    display: inline-block;
}
.reg_cont .reg_conttop label{
    font-size: 18px;
    float: right;
    margin-right: 85px;
    line-height: 60px;
}
.reg_contmid{
    overflow: hidden;
}
.reg_contmid .reg_midleft{
    width: 425px;
    float: left;
    margin-left: 74px;
}
.reg_contmid .reg_midleft .reg_midline{
    margin-bottom: 15px;
}
.reg_contmid .reg_midleft .reg_midline label{
    width: 100px;
    text-align: right;
}
.reg_contmid .reg_midleft .reg_midline input{
    width: 300px;
}
.reg_contmid .reg_midleft .reg_midline p{
    margin-left: 100px;
    color: #c1c2cf;
    line-height: 20px;
    font-size: 12px;
}
.reg_contmid .reg_midleft .reg_midyz{
    margin: 25px 0 25px 0;
    width: 390px;
}
.reg_contmid .reg_midleft .reg_midyz label{
    width: 100px;
    text-align: right;
}
.reg_contmid .reg_midleft .reg_midyz input[type="text"]{
    width: 160px;
}
.reg_contmid .reg_midleft .reg_midyz input[type="checkbox"]{

}
.reg_contmid .reg_midleft .reg_midyz button{
    padding: 0 20px;
    height: 30px;
    line-height: 26px;
    vertical-align: top;
}
.reg_contmid .reg_midr{
    width: 360px;
    float: right;
    margin-right: 60px;
}
.reg_contmid .reg_midr img{
    width: 328px;
    margin-top: 20px;
}
.reg_cont .btnreg{
    background: #0c55ff;
    width: 400px;
    height: 60px;
    font-size: 18px;
    color: #ffffff;
    margin: 30px auto 5px auto;
    display: block;
}
.wrapzh{
    width: 1036px;
    padding: 0;
    margin: 110px auto 110px auto;
    overflow: hidden;
}
.wrapzh img{
    margin-left: 18px;
}
.wrapzh .reg_zhstas{
    color: #c9cad2;
}
.wrapzh .reg_zhstas li{
    float: left;
}
.wrapzh .reg_zhstas li.select{
    color: #0573c7;
}
.wrapzh .reg_zhstas li:first-child{
   margin-right: 420px;
}
.wrapzh .reg_zhstas li:last-child{
    margin-left: 418px;
}
.reg_cont .regbox{
    width: 900px;
    margin: 0 auto;
}
.reg_cont .regbox .reg_zhtit{
    border-bottom: 1px solid #434e8d;
    font-size: 18px;
    padding: 0 20px 0 50px;
    line-height: 40px;
    margin: 10px 0 70px 0;
}
.reg_cont .regbox .reg_zhtit span{
    color: #0573c7;
}
.reg_cont .regbox2{
    width: 440px;
    margin: 0 auto;
}
.reg_cont .regbox2 label{
    width: 95px;
    text-align: right;
}
.reg_cont .regbox2  .reg_zhline{
    margin-top: 40px;
}
.reg_cont .regbox2  .reg_zhline p{
    margin:8px 0 0 95px;
    line-height: 18px;
    color: #c1c2cf;
}
.reg_cont .regbox2  .reg_zhline button{
   padding: 4px 10px;
    vertical-align: top;
}
.reg_cont .regbox2  .btnzh{
    background: #0c55ff;
    height: 30px;
    font-size: 14px;
    color: #ffffff;
    margin:50px 0 0 100px;
    display: block;
    width: 80px;
}
.reg_zhsuc{
    width: 560px;
    margin: 110px auto 90px auto;
}
.reg_zhsuc label{
    font-size: 24px;
    vertical-align: middle;
    margin-left: 8px;
}
.reg_zhsuc a{
    font-size: 14px;
    color: #434e8d;
    text-align: center;
    display: block;
    margin-top: 110px;
}

/*分页效果*/
.page_date{
    display: inline-block;
    margin-right:30px;
    outline: none;
}
.page_date i{
    color: red;
    margin-right: 2px;
}
.page_date input[type='text']{
    height: 26px;
    line-height: 20px;
    padding:0px 8px;
    width: 40px;
    text-align: center;
}
.page_date button{
    height: 26px;
    line-height: 20px;
    padding:0px 8px;
    text-align: center;
    font-size: 12px;
    vertical-align: top;
    margin-left: 10px;
    background: #ffffff;
    border: 1px solid #cccccc;
}
.page_btn{
    display: inline-block;
    margin-right: 80px;
}
.page_date .btn:focus, .page_date  .btn:hover,.page_date  .btn:focus, .page_date  .btn:active{
    background: #72bee5;
    outline: none;
    color: #ffffff;
}
.page_btn .pagination{
    margin: 0;
    vertical-align: middle;
}
.pagination > li > a, .pagination > li > span {
    color: #757575;
    padding: 3px 8px;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background-color: #72bee5;
    border-color: #ddd;
    color: #ffffff;
}
/*弹框*/
.modal-header{
    padding: 5px 15px;
    border-bottom: 1px solid #0573c7;
}
.modal-body {
    position: relative;
    color: #434e8d;
    overflow: hidden;
}
.alt_opera{
    width: 100%;
}
.alt_opera ul{
    width: 100%;
    overflow: hidden;
    margin: -15px;
}
.alt_opera li a{
    color: #434e8d;
}
.alt_opera li{
    padding: 10px 0;
    float: left;
    font-size: 14px;
    width: 68px;
    text-align: center;
    cursor: pointer;
}
.alt_opera li:focus, .alt_opera li:hover{
    background-color: #ecedf3;
}
.alt_opera li i{
    font-size:20px;
}
.alt_opera li h5{
    margin: 0;
    line-height: 18px;
}
.alt_cgdiv{
    width: 430px;
    font-size: 12px;
    margin-bottom: 20px;
}
.alt_cgdiv label{
    width: 135px;
    text-align: right;
}

.alt_cgdiv input{
    width: 210px;
}
.alt_cgdiv .alt_cgline{
    margin: 10px 0;
}
.alt_opera .table thead th{

    background: #ecedf3;
}
.alt_opera .table{
    font-size: 12px;

}
.alt_cgtable{
    padding: 0 15px;
}
.alt_opera button{
    width: 65px;
    height: 30px;
    margin-left: 285px;
    padding: 0;
}
.alert_qf{
    padding:20px 15px;
}
.alert_qf h5{
    line-height:30px;
    font-size: 14px;
}
.alert_qf label{
    font-size: 14px;
    vertical-align: middle;
}
.alert_qf i{
    font-size: 30px;
    padding: 0 10px;
    color: #0cd436;
    vertical-align: middle;
}
.alert_qf img{
    display: inline-block;
}
.alt_head{
    position: relative;
}
.alt_head h5{
    text-align: center;
    font-size: 18px;
    color: #0573c7;
}
.alt_head img{
    position: absolute;
    left: 520px;
    top:-10px;
}
.cg_div{
    padding: 0px 15px;
    overflow: hidden;
    margin-top: 10px;
}
.cg_div .cg_solo{
    margin: 10px 0px 0px 0;
    float: left;
    width: 275px;
}
.cg_div label{
    width: 110px;
    text-align: right;
}
.cg_div .cg_solo input{
    line-height: 30px;
    padding:0px 10px;
    width: 160px;
    height: 30px;
}
.cg_div .cg_solo .form-control{
    display: inline-block;
}
.cg_div .cg_solo select{
    width: 160px;
    height: 30px;
    padding: 0 6px;
}
.cg_div .cg_bz{
    margin: 10px 0px 0px 0;
    width: 500px;
    float: left;
}
.cg_div .cg_bz input{
    line-height: 30px;
    padding:0px 10px;
    width: 360px;
    height: 30px;
}
.cg_tabtit{
    border-left: 1px solid #ecedf3;
    border-right: 1px solid #ecedf3;
    border-top: 1px solid #ecedf3;
    overflow: hidden;
    margin-top: 15px;
}

.cg_tabtit ul{
    margin-top:0px;
}
.cg_tabtit ul li{
    padding: 0 30px;
    line-height: 45px;
    border-bottom: 1px solid #0573c7;
    border-right: none;
    border-left: none;
    float: left;
}

.cg_tabtit ul li.select{
    color: #0573c7;
    border-top: 1px solid #0573c7;
    border-right: 1px solid #0573c7;
    border-left: 1px solid #0573c7;
    border-bottom: none;
}

.cg_tabtit ul li:first-child{
    border-left: none;
}
.cg_tabbox .cg_tabcont{
    margin-bottom: 20px;
    position: relative;
}
.cg_tabbox .cg_tabcont table thead th{
    background: #e5e6ef;
    text-align: center;
}
.cg_tabbox .cg_tabcont table tbody td{
    text-align: center;
}

.alt_edit{
    padding: 0px 0px 10px 0;
    overflow: hidden;
}
.alt_edit_div{
    padding: 0px 0px;
    margin-top: 10px;
    width: 50%;
    height: 31px;
    float: left;
    position: relative;
    overflow: hidden;
}
.alt_edit_div label{
    width: 120px;
    text-align: right;
    line-height: 30px;
}
.alt_edit_div  input[type="text"],.alt_edit_div  input[type="password"]{
    line-height: 30px;
    padding:0px 10px;
    width: 220px;
    height: 30px;
}
.alt_edit_div span{
    margin: 0 15px 0 5px;
}
.alt_edit_div span.combo{
    margin: 0 0 0 0;
    padding: 0;
}
.alt_edit_div span.textbox-addon{
    margin: 0 0 0 0;
}
.alt_edit_div  .form-control{
    display: inline-block;
    line-height: 30px;
    padding:0px 10px;
    width: 220px;
    height: 30px;
}
.alt_edit_div .btn_duka{
    padding: 0px 10px;
    line-height: 30px;
}
.alt_edit_div  .em_duka{
    line-height:30px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    vertical-align: middle;
}

.alt_lognlabel .alt_edit_div label{
    width: 180px;
    text-align: right;
    line-height: 30px;
}
.alt_lognlabel .alt_edit_div  input[type="text"],.alt_lognlabel .alt_edit_div  input[type="password"]{
    line-height: 30px;
    padding:0px 10px;
    width: 200px;
    height: 30px;
}
.alt_edit_textarea{
    width: 100%;
    overflow: hidden;
    padding:10px 0;
}
.alt_edit_textarea label{
    width: 120px;
    text-align: right;
}
.alt_edit_textarea  textarea{
    display: inline-block;
    width: 500px;
    vertical-align: top;
}

.daohuo_add{
    width: 100%;
    margin-top: 0px;
}
.daohuo_add h5{
    font-size: 24px;
    text-align: center;
    line-height: 60px;
}
.daohuo_add .daohuo_add_div{
}
.daohuo_add .daohuo_add_div .daohuo_add_solo{
    float: left;
    width: 33.3%;
    margin-bottom:20px;
    position: relative;
    height: 30px;
}
.dh_carnum{
    width: 330px;
    overflow: visible;
    position: relative;
}
.dh_carnum_sele{
    position: absolute;
    left: 125px;
    top: 30px;
    width: 200px;
    height:100px;
    overflow-y: scroll;
    z-index: 999;
    background: #ffffff;
}
.dh_carnum_sele ul li{
    line-height: 20px;
    cursor: pointer;
}
.dh_carnum_sele ul li:hover{
    background: #aaaaaa;
}
.input_withlogo{
width: 180px;
    display: inline-block;
    position: relative;
}
.daohuo_add .daohuo_add_div label{
    width: 120px;
    text-align: right;
    line-height: 30px;
}
.daohuo_add  .daohuo_add_div .daohuo_add_solo input[type="text"]{
    width: 180px;
}
.daohuo_add  .daohuo_add_div .zhij_piliang_add{
     width: 40%;
    float: left;
 }
.daohuo_add  .daohuo_add_div .zhij_piliang_check{
    width: 200px;
    float: left;
}
.daohuo_add  .daohuo_add_div .zhij_piliang_add input[type="text"]{
    width: 300px;
}
.daohuo_add .daohuo_add_div select{
    width: 180px;
    height: 30px;
    padding: 0 10px;
}
.daohuo_add .daohuo_add_div select option{
    max-height: 50px;
}

.daohuo_add .daohuo_add_div i{
    font-size: 20px;
    color: #90c900;
    cursor: pointer;
}
.cg_dhadd{
    border-bottom: 1px solid #ecedf3;
}
.cg_hjprogress{
    max-height: 200px;
    overflow-y: scroll;
}
.cg_hjprogress li{
    line-height: 30px;
    padding: 0 10px;
}
.alt_title{
    border-bottom: 1px solid #0573c7;
}
.alt_title h4{
    color: #666666;
    line-height: 30px;
    margin: 0 0 0 10px;
    font-size: 15px;
}


/*到货通知单新增*/
.dhadd_search{
    overflow: hidden;
}
.dhadd_search .dhsearch_solo{
    text-align: right;
    float: left;
    margin:5px 1px 5px 0;
    font-size: 12px;
}
.dhadd_search .dhsearch_solo label{
    width: 85px;
    text-align: right;
}
.dhadd_search .dhsearch_solo select{
    width: 156px;
    display: inline-block;
    font-size: 12px;
    height: 30px;
}
.dhadd_search .dhsearch_solo input[type="text"]{
    width: 160px;
    display: inline-block;
    font-size: 12px;
}
.dhadd_search .dhsearch_solo button{
    margin-left:15px;
    line-height: 28px;
    padding: 0px 18px;
}
.dh_alttable{
    width: 100%;
    height: 400px;
    overflow: scroll;
}
.dh_alttable table tr{
    white-space: nowrap;

}
/*菜单表格下拉*/
.tree_table .vsStyle_node, .tree_table .vsStyle_active_node {width:16px;height:16px;border: medium none; margin: 0; padding: 0;display: inline-block;}
.tree_table .vsStyle_active_node {cursor: pointer;}
.tree_table .vsStyle_open, .tree_table .vsStyle_last_open{background:url(../images/allbgs.png) no-repeat 0px 0px;width:16px;}
.tree_table .vsStyle_shut, .tree_table .vsStyle_last_shut{background:url(../images/allbgs.png) no-repeat -16px 0px;width:16px;}
.tree_table .vsStyle_hover_open, .tree_table .vsStyle_hover_last_open{background:url(../images/allbgs.png) no-repeat -32px 0px;width:16px;}
.tree_table .vsStyle_hover_shut, .tree_table .vsStyle_hover_last_shut{background:url(../images/allbgs.png) no-repeat -48px 0px;width:16px;}

.selectrow{width: 100%;margin: 4px 0px;}
.selectrow .level_sel{width:50%;float: left;}
.selectrow .level_sel select{width:100%;background-color:#ffffff;border:solid 1px #cccccc;font-family:Arial, sans-serif;font-size:12px;height:30px;position:relative;border-radius: 4px;}
.selectrow label{line-height:32px;float: left;}
/*角色权限*/
.juese_mbox{
    padding: 0px;
    position: relative;
}
.juese_qx{
    margin: 15px 0 15px 0;
    position: relative;
    overflow: hidden;
}
.juese_company{
    overflow: hidden;
    background: #f5f6fb;
    border: 1px solid #e3e4ea;
    min-height: 600px;
    width: 280px;
    float: left;
    margin-right: 10px;
    position: relative;
}
.juese_company h5{
    display: block;
    padding-left: 15px;
    line-height: 36px;
    border-bottom: 1px solid #e3e4ea;
    margin: 0;
    background: #fafbfe;
}
.juese_user{
     overflow: hidden;
     background: #f5f6fb;
     border: 1px solid #e3e4ea;
     min-height: 600px;
     width: 230px;
    float: left;
 }
.juese_user h5{
    display: block;
    padding-left: 15px;
    line-height: 36px;
    border-bottom: 1px solid #e3e4ea;
    margin: 0;
    background: #fafbfe;
}
.juese_work{
    position: relative;
    overflow: hidden;
}
.juese_sys{
    overflow: hidden;
    background: #f5f6fb;
    border: 1px solid #e3e4ea;
    width: 330px;
    float: left;
    margin-right: 10px;
}
.juese_sys h5{
    display: block;
    padding-left: 15px;
    line-height: 36px;
    border-bottom: 1px solid #e3e4ea;
    margin: 0;
    background: #fafbfe;
}
.juese_sysplat{
    background: #f5f6fb;
    border: 1px solid #e3e4ea;
    overflow: hidden;

}
.juese_sysplat .juese_plattit{
    line-height: 36px;
    border-bottom: 1px solid #e3e4ea;
    margin: 0;
    background: #fafbfe;
    padding: 0 15px;
}
.juese_sysplat h5{
    display: inline-block;
}
.juese_sysplat .juese_plattit span{
    float: right;
}
.juese_sysplat .juese_plattit span.qx_cancelall{
    display: none;
}
.juese_altuser span.qx_cancelall{
    display: none;
}
.juese_opera{
    padding-left:10px;
    overflow: hidden;
    position: relative;

}
.juese_opera .juese_title{
    border: 1px solid #e3e4ea;
    line-height: 36px;
    background: #fafbfe;
    padding-left: 15px;
}
.juese_opera .juese_tab{
    border: 1px solid #e3e4ea;
    overflow: hidden;
    width: 280px;
    margin-top: 10px;
    overflow: hidden;
}
.juese_opera .juese_tab ul li{
    border-right: 1px solid #e3e4ea;
    line-height: 36px;
    float: left;
    width: 33.3%;
    text-align: center;
    cursor: pointer;
}
.juese_opera .juese_tab ul li:last-child{
    border: none;
}
.juese_opera .juese_tab ul li:focus,.juese_opera .juese_tab ul li:hover,.juese_opera .juese_tab ul li.select{
    background: #434e8d;
    color: #ffffff;
}
.juese_opera .juese_usertab{
    border: 1px solid #e3e4ea;
    overflow: hidden;
    width: 280px;
    margin-top: 10px;
}
.juese_opera .juese_usertab ul li{
    border-right: 1px solid #e3e4ea;
    line-height: 36px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
}
.juese_opera .juese_usertab ul li:last-child{
    border: none;
}
.juese_opera .juese_usertab ul li:focus,.juese_opera .juese_usertab ul li:hover,.juese_opera .juese_usertab ul li.select{
    background: #434e8d;
    color: #ffffff;
}
.juese_qxsearch{
    padding: 0px 0 10px 0;
    overflow: hidden;
}
.juese_qxsearch .js_solo{
    float: left;
    margin-right: 15px;
}
.juese_qxsearch .js_solo .form-control{
    padding: 0 10px;
}
.juese_qxsearch .js_solo .form-control,.juese_qxsearch .js_solo input{
    height: 30px;
    width: 150px;
}
.juese_qxsearch .js_solo button{
    height: 30px;
    padding: 0 15px;
}
.juese_altuser{
    background: #e3e4ea;
    line-height: 30px;
    padding: 5px 15px;
}
.juese_altuser_list{
    padding: 0px 0px;
}
.juese_altuser_list ul li{
    padding: 0px;
    background: url("../images/js_no.png") no-repeat 0 0;
    width: 100px;
    height: 40px;
    float: left;
    margin: 10px 10px 0 10px;
    line-height: 40px;
    cursor: pointer;
    font-size: 12px;
}
.juese_altuser_list ul li i{
    padding: 0 5px;
}
.juese_altuser_list ul li.select{
    background: url("../images/js_yes.png") no-repeat 0 0;
}
.juese_mbox{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.juese_mbox .juese_table{
    background: #f5f6fb;
     min-height: 600px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
 }
.treeview span.iconfont{
    color: #0573c7;
}
.juese_mbox .juese_table table thead th{
    color: #0573c7;
    font-size: 14px;
    text-align: center;
    line-height: 33px;
}
.juese_mbox .juese_table table tbody td{
    line-height: 33px;
    font-size: 12px;
    text-align: center;
}
.juese_mbox .juese_table table tbody tr.select,.juese_mbox .juese_table table tbody tr:hover{
    background: #ffffff;
}

.juese_qxdata{
    padding: 0 15px;
}
.juese_qxdata ul li{
   line-height: 36px;
}
.juese_qxdata ul li i{
    color: #0573c7;
    padding: 0 2px 0 9px;
}
.juese_qxdata ul li input[type="checkbox"]{

}
.user_listsearch{
    padding: 10px;
    border-bottom: 1px solid #e3e4ea;
}
.user_listsearch button{
    height: 24px;
    padding: 0 12px;
    text-align: center;
    line-height: 24px;
}
.user_listsearch input{
    height: 24px;
    padding: 2px 8px;
    font-size: 12px;
}
.sys_userdt{
    border-left: 1px solid #ecedf3;
    border-right: 1px solid #ecedf3;
    border-bottom: 1px solid #ecedf3;
    overflow: hidden;
    padding: 10px 0 20px 0;
}
.sys_userdt ul li {
    overflow: hidden;
    line-height: 30px;
    padding: 0 20px;
}
.sys_userdt ul li label{
    width: 100px;
    text-align: left;
}
.sys_userdt ul li label{
    width: 100px;
    text-align: left;
}
.zuzhi_alt{
    z-index: 9999;
    position: absolute;
    left: 120px;
    top: 30px;
    width: 300px;
    height: 150px;
    overflow-y: scroll;
    background: #ffffff;
    display: none;
}
.zuzhi_alt ul li{
    padding: 0 ;
    margin: 0;
    line-height: 30px;
}
.person_tit{
    width: 300px;
    float: left;
    padding: 0 20px;
}
.person_tit h4{
    font-size: 18px;
    line-height: 30px;
}
.per_tab{
    padding: 15px 0;
}
.per_tab li{
    padding: 0px 20px;
    line-height: 40px;
    cursor: pointer;
}
.per_tab li.select{
    background: #ffffff;
    cursor: pointer;
}
.per_tab li i{
    padding: 0px 8px;
    line-height: 40px;
}
.person_panel{
    overflow: hidden;
    background: #f5f6fb;
    border: 1px solid #e3e4ea;
    min-height: 600px;
    width: 250px;
    float: left;
}
.person_panel h5{
    display: block;
    padding-left: 15px;
    line-height: 36px;
    border-bottom: 1px solid #e3e4ea;
    margin: 0;
    background: #fafbfe;
}
.person_detail{
    border: 1px solid #e3e4ea;
    padding: 15px 15px;
}
.person_detail ul li{
    line-height: 30px;
}
.person_detail ul li label{
    width: 100px;
    text-align: left;

}
.person_psword{
    padding: 20px;
}
.person_psword label{
    width: 90px;
    text-align: right;
    margin:  0;
    float: left;
    line-height: 34px;
}
.person_psword span{
    color: #d61e3c;
    line-height: 34px;
    margin-left: 8px;
}
.person_psword input{
    width: 190px;
    height: 34px;
}
.person_psword .person_line{
    overflow: hidden;
    margin: 10px 0 10px 0;
}
.person_psword .person_yz .divyz{
    width: 190px;
    display: inline-block;
}
.person_psword .person_yz input[type="text"]{
    width: 90px;
}
.person_psword .person_yz .divyz .yzimg{
    width: 90px;
    float: right;
    background: #0093dd;
}
.person_psword .person_btn{
    margin: 80px 0 50px 100px;
}
.person_psword .person_btn button{
    margin-right: 15px;
    padding: 6px 20px;
}

.fuzhu_list{
    overflow: hidden;
    background: #f5f6fb;
    border: 1px solid #e3e4ea;
    float: left;
    position: relative;
    margin-right: 10px;
}
.width_fuzhu{
    width: 280px;
}
.width_fzdtail{
    width: 100%;
}
.fuzhu_dtail{
    overflow: hidden;
    position: relative;
    border: 1px solid #e3e4ea;
}
.fuzhu_list h5{
    display: block;
    padding-left: 15px;
    line-height: 36px;
    border-bottom: 1px solid #e3e4ea;
    margin: 0;
    background: #fafbfe;
}
.sys_fuzhu{
    width: 100%;
    overflow: hidden;
}
.sys_fuzhu .sys_fuzhusolo{
    width: 30%;
    float: left;
    text-align: center;
    line-height: 30px;
    padding-top: 10px;
}
.sys_fuzhu .sys_fuzhusolo a,.sys_fuzhu .sys_fuzhusolo label{
    cursor: pointer;
}
.sys_fuzhu .sys_fuzhusolo i{
    font-size: 18px;
}
.fuzhu_dtile h5{
    display: block;
    padding-left: 15px;
    line-height: 36px;
    border-bottom: 1px solid #e3e4ea;
    margin: 0;
    background: #fafbfe;
}
.total_addscroll{
    max-height: 500px;
    overflow-y: scroll;
}
.selct2_alt_div{
    width: 220px;
    display: inline-block;
    position: relative;

}
.alt_edit_div .selct2_alt_div span{
    margin: 0;
    width: 220px;
}

.alt_onerow_div{
    padding: 0px 0px;
    margin-top: 10px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}
.alt_onerow_div label{
    width: 120px;
    text-align: right;
}
.alt_onerow_div  input[type="text"]{
    line-height: 30px;
    padding:0px 10px;
    width: 70%;
    height: 30px;
}
.alt_onerow_div span{
    margin: 0 15px 0 5px;
}
.alt_onerow_div  textarea{
    display: inline-block;
    width:70%;
    vertical-align: top;
}
.zj_biaozhun_table{
    width: 700px;
    overflow: scroll;
    min-height:200px;
    max-height: 400px;
}
.zj_biaozhun_table2{
    width: 1200px;
}
.zj_biaozhun_table .zj_biaozhun_tablepl{
    width: 100%
}
.zj_biaozhun_tablepl input, .zj_biaozhun_table2 input{
    border: none;

}
.zj_biaozhun_tablepl input{
    width:100%;
}
.zj_biaozhun_table{

 }

.dt_btngroup{
    width: 600px;
    margin: 10px auto 30px auto;
}
.dt_btngroup button{
    padding: 4px 12px;
    margin: 0 6px;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* 防止水平滚动条 */
    overflow-x: hidden;
    z-index: 1200!important;
}
/* IE 6 不支持 max-height
	   * 我们使用 height 代替，但是这会强制菜单总是显示为那个高度
	   */
* html .ui-autocomplete {
    height: 200px;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
    background-color: #e2e2e2;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0,0,0,.3);
}
::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
    background-color: #e2e2e2;
}
.menu_icon{
    overflow-y: auto;
    max-height: 300px;
}
.menu_icon ul li{
    width:32px;
    float: left;
    text-align: center;
    line-height: 30px;
    height: 32px;
    margin:0 10px 10px 10px;
    color: #0573c7;
}
.menu_icon ul li:hover,.menu_icon ul li.select{
    border: 1px solid #999999;
    border-radius: 8px;
    cursor: pointer;
}
.menu_icon ul li i{
    font-size: 22px;
}