.colorlv{
    color:#63e47e;
}
.coloradd{
    color: #529cd6;
}
.colorred{
    color: #d61e3c;
}
.colorblue{
    color: #0573c7;
}
.colorgray{
    color: #c9cad2;
}
.btn,.btn:focus,.btn:hover,.btn:active{
    outline: none;
}
.btnyello{background: #fb841b;color: #ffffff;}
.btnyello:hover{background: #e3710d;color: #ffffff;}
.btnblue{background: #0574c6;color: #ffffff;}
.btnblue:hover{background: #166aa8;color: #ffffff;}
.btnblue:focus{
    color: #ffffff;
}
.btngray{background: #e1e1e1;color: #434e8d;}
.btngray:hover{background: #d1d1d1;color: #434e8d;}
.btngray:focus{
    color: #434e8d;
}
.bghui{
    background: #f5f6fb;
}
.wrap{
    width: 1200px;
    padding: 0;
    margin: 0 auto;
}
.wrapreg{
    width: 1000px;

    padding: 0;
    margin: 0 auto;
}
.form-control{
    border: 1px solid #e3e4ea;
    display: inline-block;
    padding: 0px 12px;
}
input[readOnly="true"]{
    background: #f5f6fb;
}
.it_admin{
    min-width: 1300px;
}
.left{
    width: 200px;
    color: #434e8d;
    font-size: 14px;
    float: left;
}
.leftmini{
    width: 100px;
    color: #434e8d;
    font-size: 14px;
    float: left;
}
.right{
    color: #434e8d;
}
.user{
    height: 60px;
    border-bottom: 1px solid #ecedf3;
    padding: 12px 20px 10px 28px;

}
.user img{
    max-width: 40px;
    max-height: 40px;
    border:3px solid #ecedf3;
    margin-right: 10px;
}
/* 用户弹出框 */
.dropdown-menu{width: 200px;z-index: 99;color: #434e8d;}
.dropdown-menu .divider{ margin:4px 0px;}
.dropdown-menu > li > a{ padding:3px 0px 3px 40px;font-size:14px;color: #434e8d;}
.dropdown-menu > li > a i{ padding-right:5px;font-size:18px;vertical-align:top}
.dropdown-menu li a:hover, .dropdown-menu .active a, .dropdown-menu .active a:hover {
    color: #eeeeee;
    background:#205d93;
}
.user{
    position: relative;
    color: #434e8d;
}

.user .dropdown-toggle i{
    padding-top: 13px;
    float: right;
}

.menu{
    padding: 15px 20px 15px 28px;

}
.menu i{
    cursor: pointer;
}
.menu2{
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
}
.menu2 i{
    font-size: 20px;
}
.typelist{

}
.typelist li{
    line-height: 50px;
    padding-left: 43px;
    margin: 0;
    cursor: pointer;
}
.typelist li i{
    font-size: 17px;
    margin-right: 8px;
}
.typelist li.active,.typelist li:focus,.typelist li:hover{
    background: #f5f6fb;
    border-left: 4px solid #0573c7;
    color: #0573c7;
}
.typelist li.active a,.typelist li:focus a,.typelist li:hover a{
   margin-left: -4px;
}

/*标题切换*/

.intel_tab{
    background: #fafbfe;
    color: #434e8d;
    border-bottom: 1px solid #ececec;
    overflow: hidden;
    min-width: 1000px;
}
.intel_tab .intel_menu{
    float: left;
}
.intel_tab .intel_menu li{
    width: 160px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
    font-size: 14px;
    cursor: pointer;
}
.intel_tab .intel_menu li.select,.intel_tab .intel_menu li:hover{
    color: #0573c7;
}
.intel_tab .top_opera{
    width: 170px;
    float: right;
    margin-right: 30px;
}
.intel_tab .top_opera i{
    color: #434e8d;
    line-height: 60px;
    font-size: 20px;
    margin: 0 12px;
}
.intel_tabbox .intel_tabcont{
    border-left: 1px solid #dbe7f3;
    padding:0 10px;
    overflow: hidden;
    min-height: 700px;
}
.intel_search{
    border-left: 1px solid #ecedf3;
    border-right: 1px solid #ecedf3;
    border-bottom: 1px solid #ecedf3;
    padding: 15px;
    position: relative;
    margin-top: 15px;
    color: #434e8d;
}
.intel_bggray{
    width: 100%;
    height: 4px;
    background: #dbe7f3;
    position: absolute;
    top: 0;
    left: 0;
}
.intel_bgblue{
    width: 100%;
    height: 2px;
    background: #529cd6;
    margin-top: 1px;
}
.intel_search .intel_sconditon{
    padding: 0;
}
.intel_search .intel_solo{
    text-align: right;
    float: left;
    margin:5px 15px 5px 0;
    font-size: 12px;
}
.intel_search .intel_sline{
    overflow: hidden;
}
.intel_search .intel_solo label{
     width: 80px;
     text-align: right;
 }
.intel_search .intel_solo select{
    width: 156px;
    display: inline-block;
    font-size: 12px;
    height: 30px;
}
.intel_search .intel_solo input[type="text"]{
    width: 150px;
    display: inline-block;
    font-size: 12px;
}
.intel_search .intel_solo .intel_sbtn{
    float: left;
    padding: 0 0 0 80px;
}
.intel_search .intel_solo .intel_sbtn button{
    margin-left:15px;
    line-height: 28px;
    padding: 0px 18px;
}

.intel_search .intel_solo .intel_sbtn input[type="checkbox"]{
    width: 15px;
    line-height: 30px;
}
.intel_search .intel_solo .intel_sbtn span{
    line-height: 30px;
}
.intel_tabbox .intel_tabcont .intel_opera{
    padding: 15px 10px;
    overflow: hidden;
}
.intel_tabbox .intel_tabcont .intel_opera .intel_operasolo{
    padding: 0px 0;
    float: left;
    font-size: 14px;
    width: 50px;
    margin-right: 20px;
    cursor: pointer;
}
.intel_tabbox .intel_tabcont .intel_opera .intel_operasolo i{
    font-size: 14px;
}
.intel_tabbox .intel_tabcont .intel_table table{
    background: #f5f6fb;
    font-size: 12px;
    text-align: center;
}
.intel_tabbox .intel_tabcont .intel_table table thead th{
    color: #0573c7;
    font-size: 14px;
    text-align: center;
    line-height: 33px;
}
.intel_tabbox .intel_tabcont .intel_table table tbody i{
    font-size: 17px;
    cursor: pointer;
    margin: 0 5px;
}
.intel_tabbox .intel_tabcont .intel_table table tbody td{
    line-height: 33px;
}
.intel_tabbox .intel_tabcont .intel_table .table-hover > tbody > tr:hover {
    background-color: #ffffff
}
/*下面的表内容*/
.intel_result{
    padding: 0px;
    position: relative;
    color: #434e8d;
    display: none;
}
/*分页效果*/
.page{
    font-size: 12px;
    float: right;
}
.page_date{
    display: inline-block;
    margin-right:30px;
    outline: none;
}
.page_date i{
    margin-right: 2px;
}
.page_date input[type='text']{
    height: 26px;
    line-height: 20px;
    padding:0px 8px;
    width: 40px;
    text-align: center;
}
.page_date button{
    height: 26px;
    line-height: 20px;
    padding:0px 8px;
    text-align: center;
    font-size: 12px;
    vertical-align: top;
    margin-left: 10px;
    background: #ffffff;
    border: 1px solid #cccccc;
}
.page_date .form-control{
    width: 65px;
    height: 26px;
}
/*登录*/
.header{
    color: #434e8d;
    font-size: 12px;
}
.header label{
    line-height: 40px;
}
.login{
    margin: 45px 0 50px 0;
}
.login .lgcont{
    margin: 45px 80px 50px 80px;
}
.login .lgcont .lgleft{
    width: 600px;
    float: left;
}
.login .lgcont .lgleft img{
   display: block;
    margin: 40px auto;
}
.login .lgcont .lgright{
    width: 400px;
    float: right;
    border:1px solid #dfe0e9;
    padding: 30px 34px 50px 34px;
    color: #434e8d;
}
.login .lgcont .lgright .lgline1 label{
    font-size: 18px;
    line-height: 30px;
}
.login .lgcont .lgright .lgline1 span{
    font-size: 14px;
    color: #0573c7;
    line-height: 30px;
}
.login .lgcont .lgright .lgline2{
    border: 1px solid #fb0f0f;
    border-radius: 5px;
    line-height: 30px;
    padding: 0 12px;
    margin-top: 10px;
}
.lgline3 input{
    border: none;
    width: 100px;
}
.login .lgcont .lgright .lgline3{
    border: 1px solid #dfe0e9;
    border-radius: 2px;
    line-height: 44px;
    padding: 0 12px;
    margin-top: 15px;
}
.login .lgcont .lgright .lgline3 i{
    font-size: 22px;
}
.login .lgcont .lgright .lgline3 input{
    padding: 0 5px;
}
.login .lgcont .lgright .lgline4{
    margin-top: 10px;
    overflow: hidden;
}
.login .lgcont .lgright .lgline4 input{
    width: 100px;
    height:44px;
    padding: 0 10px;
    text-align: center;
    float: left;
}
.login .lgcont .lgright .lgline4 .yanz{
    width: 120px;
    float: left;
    margin-left: 15px;
}
.login .lgcont .lgright button{
    background: #0c55ff;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    padding: 15px 0;
    margin-top: 20px;
}
.reg_top{
    margin: 36px 0;
    overflow: hidden;
}
.reg_top img{
    margin: 20px 0 0 50px;
    float: left;
}
.reg_top .reg_wel{
    width: 320px;
    float: left;
    border-left: 3px solid #0573c7;
    margin-left: 73px;

}
.reg_top .reg_wel h3{
    color: #0573c7;
    font-size: 60px;
    line-height: 150px;
    margin: 0 0 0 73px;
}
.reg_cont{
    border-left: 1px solid #dfe0e9;
    border-right: 1px solid #dfe0e9;
    border-bottom: 1px solid #dfe0e9;
    border-top: 5px solid #0573c7;
    padding: 30px 0 40px 0;
    color: #434e8d;
    margin-bottom: 60px;
    -moz-box-shadow:  0 3px 5px rgba(223,223,233,0.7);
    -webkit-box-shadow: 0 3px 5px rgba(223,223,233,0.7);
    box-shadow: 0 3px 5px rgba(223,223,233,0.7);
}
.reg_cont .reg_conttop{
    background: url("../images/regbg.png") no-repeat bottom;
    margin-bottom: 70px;
}
.reg_cont .reg_conttop h4{
    font-size: 18px;
    color: #ffffff;
    background: #0573c7;
    width: 160px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin:0 0 0 225px;
    display: inline-block;
}
.reg_cont .reg_conttop label{
    font-size: 18px;
    float: right;
    margin-right: 85px;
    line-height: 60px;
}
.reg_contmid{
    overflow: hidden;
}
.reg_contmid .reg_midleft{
    width: 425px;
    float: left;
    margin-left: 74px;
}
.reg_contmid .reg_midleft .reg_midline{
    margin-bottom: 15px;
}
.reg_contmid .reg_midleft .reg_midline label{
    width: 100px;
    text-align: right;
}
.reg_contmid .reg_midleft .reg_midline input{
    width: 300px;
}
.reg_contmid .reg_midleft .reg_midline p{
    margin-left: 100px;
    color: #c1c2cf;
    line-height: 20px;
    font-size: 12px;
}
.reg_contmid .reg_midleft .reg_midyz{
    margin: 25px 0 25px 0;
    width: 390px;
}
.reg_contmid .reg_midleft .reg_midyz label{
    width: 100px;
    text-align: right;
}
.reg_contmid .reg_midleft .reg_midyz input[type="text"]{
    width: 160px;
}
.reg_contmid .reg_midleft .reg_midyz input[type="checkbox"]{

}
.reg_contmid .reg_midleft .reg_midyz button{
    padding: 0 20px;
    height: 30px;
    line-height: 26px;
    vertical-align: top;
}
.reg_contmid .reg_midr{
    width: 360px;
    float: right;
    margin-right: 60px;
}
.reg_contmid .reg_midr img{
    width: 328px;
    margin-top: 20px;
}
.reg_cont .btnreg{
    background: #0c55ff;
    width: 400px;
    height: 60px;
    font-size: 18px;
    color: #ffffff;
    margin: 30px auto 5px auto;
    display: block;
}
.wrapzh{
    width: 1036px;
    padding: 0;
    margin: 110px auto 110px auto;
    overflow: hidden;
}
.wrapzh img{
    margin-left: 18px;
}
.wrapzh .reg_zhstas{
    color: #c9cad2;
}
.wrapzh .reg_zhstas li{
    float: left;
}
.wrapzh .reg_zhstas li.select{
    color: #0573c7;
}
.wrapzh .reg_zhstas li:first-child{
   margin-right: 420px;
}
.wrapzh .reg_zhstas li:last-child{
    margin-left: 418px;
}
.reg_cont .regbox{
    width: 900px;
    margin: 0 auto;
}
.reg_cont .regbox .reg_zhtit{
    border-bottom: 1px solid #434e8d;
    font-size: 18px;
    padding: 0 20px 0 50px;
    line-height: 40px;
    margin: 10px 0 70px 0;
}
.reg_cont .regbox .reg_zhtit span{
    color: #0573c7;
}
.reg_cont .regbox2{
    width: 440px;
    margin: 0 auto;
}
.reg_cont .regbox2 label{
    width: 95px;
    text-align: right;
}
.reg_cont .regbox2  .reg_zhline{
    margin-top: 40px;
}
.reg_cont .regbox2  .reg_zhline p{
    margin:8px 0 0 95px;
    line-height: 18px;
    color: #c1c2cf;
}
.reg_cont .regbox2  .reg_zhline button{
   padding: 4px 10px;
    vertical-align: top;
}
.reg_cont .regbox2  .btnzh{
    background: #0c55ff;
    height: 30px;
    font-size: 14px;
    color: #ffffff;
    margin:50px 0 0 100px;
    display: block;
    width: 80px;
}
.reg_zhsuc{
    width: 560px;
    margin: 110px auto 90px auto;
}
.reg_zhsuc label{
    font-size: 24px;
    vertical-align: middle;
    margin-left: 8px;
}
.reg_zhsuc a{
    font-size: 14px;
    color: #434e8d;
    text-align: center;
    display: block;
    margin-top: 110px;
}

/*分页效果*/
.page_date{
    display: inline-block;
    margin-right:30px;
    outline: none;
}
.page_date i{
    color: red;
    margin-right: 2px;
}
.page_date input[type='text']{
    height: 26px;
    line-height: 20px;
    padding:0px 8px;
    width: 40px;
    text-align: center;
}
.page_date button{
    height: 26px;
    line-height: 20px;
    padding:0px 8px;
    text-align: center;
    font-size: 12px;
    vertical-align: top;
    margin-left: 10px;
    background: #ffffff;
    border: 1px solid #cccccc;
}
.page_btn{
    display: inline-block;
    margin-right: 80px;
}
.page_date .btn:focus, .page_date  .btn:hover,.page_date  .btn:focus, .page_date  .btn:active{
    background: #72bee5;
    outline: none;
    color: #ffffff;
}
.page_btn .pagination{
    margin: 0;
    vertical-align: middle;
}
.pagination > li > a, .pagination > li > span {
    color: #757575;
    padding: 3px 8px;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background-color: #72bee5;
    border-color: #ddd;
    color: #ffffff;
}
/*弹框*/
.modal-header{
    padding: 5px 15px;
    border-bottom: 1px solid #0573c7;
}
.modal-body {
    position: relative;
    color: #434e8d;
    overflow: hidden;
}
.alt_opera{
    width: 100%;
}
.alt_opera ul{
    width: 100%;
    overflow: hidden;
    margin: -15px;
}
.alt_opera li a{
    color: #434e8d;
}
.alt_opera li{
    padding: 10px 0;
    float: left;
    font-size: 14px;
    width: 68px;
    text-align: center;
    cursor: pointer;
}
.alt_opera li:focus, .alt_opera li:hover{
    background-color: #ecedf3;
}
.alt_opera li i{
    font-size:20px;
}
.alt_opera li h5{
    margin: 0;
    line-height: 18px;
}
.alt_cgdiv{
    width: 430px;
    font-size: 12px;
    margin-bottom: 20px;
}
.alt_cgdiv label{
    width: 135px;
    text-align: right;
}

.alt_cgdiv input{
    width: 210px;
}
.alt_cgdiv .alt_cgline{
    margin: 10px 0;
}
.alt_opera .table thead th{

    background: #ecedf3;
}
.alt_opera .table{
    font-size: 12px;

}
.alt_cgtable{
    padding: 0 15px;
}
.alt_opera button{
    width: 65px;
    height: 30px;
    margin-left: 285px;
    padding: 0;
}
.alert_qf{
    padding:20px 15px;
}
.alert_qf h5{
    line-height:30px;
    font-size: 14px;
}
.alert_qf label{
    line-height: 50px;
    text-align: center;
}
.alt_head{
    position: relative;
}
.alt_head h5{
    text-align: center;
    font-size: 18px;
    color: #0573c7;
}
.alt_head img{
    position: absolute;
    left: 520px;
    top:-10px;
}
.cg_div{
    padding: 0px 15px;
    overflow: hidden;
    margin-top: 10px;
}
.cg_div .cg_solo{
    margin: 10px 0px 0px 0;
    float: left;
    width: 275px;
}
.cg_div label{
    width: 110px;
    text-align: right;
}
.cg_div .cg_solo input{
    line-height: 30px;
    padding:0px 10px;
    width: 160px;
    height: 30px;
}
.cg_div .cg_solo .form-control{
    display: inline-block;
}
.cg_div .cg_solo select{
    width: 160px;
    height: 30px;
    padding: 0 6px;
}
.cg_div .cg_bz{
    margin: 10px 0px 0px 0;
    width: 500px;
    float: left;
}
.cg_div .cg_bz input{
    line-height: 30px;
    padding:0px 10px;
    width: 360px;
    height: 30px;
}
.cg_tabtit{
    border-left: 1px solid #ecedf3;
    border-right: 1px solid #ecedf3;
    border-top: 1px solid #ecedf3;
    overflow: hidden;
    margin-top: 15px;
}

.cg_tabtit ul{
    margin-top:0px;
}
.cg_tabtit ul li{
    padding: 0 30px;
    line-height: 45px;
    border-bottom: 1px solid #0573c7;
    border-right: none;
    border-left: none;
    float: left;
}

.cg_tabtit ul li.select{
    color: #0573c7;
    border-top: 1px solid #0573c7;
    border-right: 1px solid #0573c7;
    border-left: 1px solid #0573c7;
    border-bottom: none;
}

.cg_tabtit ul li:first-child{
    border-left: none;
}
.cg_tabbox .cg_tabcont{
    margin-bottom: 20px;
}
.cg_tabbox .cg_tabcont table thead th{
    background: #e5e6ef;
    text-align: center;
}
.cg_tabbox .cg_tabcont table tbody td{
    text-align: center;
}

.alt_edit{
    padding: 0px 0 10px 0;
    overflow: hidden;
}
.alt_edit_div{
    padding: 0px 0px;
    overflow: hidden;
    margin-top: 10px;
    width: 330px;
    float: left;
    height: 30px;
}
.alt_edit_div label{
    width: 100px;
    text-align: right;
}
.alt_edit_div  input[type="text"]{
    line-height: 30px;
    padding:0px 10px;
    width: 220px;
    height: 30px;
}
.alt_edit_div span{
    margin: 0 15px 0 5px;
}
.alt_edit_div  .form-control{
    display: inline-block;
    line-height: 30px;
    padding:0px 10px;
    width: 220px;
    height: 30px;
}
.alt_edit_textarea{
    width: 100%;
    overflow: hidden;
    padding:10px 0;
}
.alt_edit_textarea label{
    width: 100px;
    text-align: right;
}
.alt_edit_textarea  textarea{
    display: inline-block;
    width: 500px;
    vertical-align: top;
}

.daohuo_add{
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}
.daohuo_add h5{
    font-size: 24px;
    text-align: center;
    line-height: 80px;
}
.daohuo_add .daohuo_add_div{
}
.daohuo_add .daohuo_add_div .daohuo_add_solo{
    float: left;
    width: 33.3%;
    height: 30px;
    overflow: hidden;
    margin-bottom:20px;
}
.daohuo_add .daohuo_add_div label{
    width: 120px;
    text-align: right;

}
.daohuo_add .daohuo_add_div select{
    width: 180px;
    height: 30px;
    padding: 0 10px;
}
.daohuo_add .daohuo_add_div select option{
    max-height: 50px;
}

.daohuo_add .daohuo_add_div i{
    font-size: 20px;
    color: #90c900;
    cursor: pointer;
}
.cg_dhadd{
    border-bottom: 1px solid #ecedf3;
}
.cg_hjprogress{
    max-height: 200px;
    overflow-y: scroll;
}
.cg_hjprogress li{
    line-height: 30px;
    padding: 0 10px;
}
.alt_title{
    border-bottom: 1px solid #0573c7;
}
.alt_title h4{
    color: #666666;
    line-height: 30px;
    margin: 0 0 0 10px;
    font-size: 15px;
}
.menu_collap{
    margin-top: 15px;

}
.menu_collap a.menu_collap_tit{
    font-size: 16px;
    padding: 20px 20px;
    display: block;
}
.menu_collap a.menu_collap_tit span{
    margin-left: 50px;
}