<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.quality.purchase.PurchaseSamplingItemMapper" >
  <resultMap id="BaseResultMap" type="com.tianrui.service.bean.quality.purchase.PurchaseSamplingItem" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="samplingid" property="samplingid" jdbcType="VARCHAR" />
    <result column="samplingcar" property="samplingcar" jdbcType="VARCHAR" />
    <result column="samplingcode" property="samplingcode" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="BIGINT" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modifytime" property="modifytime" jdbcType="BIGINT" />
    <result column="utc" property="utc" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, samplingid, samplingcar, samplingcode, state, creator, createtime, modifier, 
    modifytime, utc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tr_purchase_db_sampling_item
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tr_purchase_db_sampling_item
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianrui.service.bean.quality.purchase.PurchaseSamplingItem" >
    insert into tr_purchase_db_sampling_item (id, samplingid, samplingcar, 
      samplingcode, state, creator, 
      createtime, modifier, modifytime, 
      utc)
    values (#{id,jdbcType=VARCHAR}, #{samplingid,jdbcType=VARCHAR}, #{samplingcar,jdbcType=VARCHAR}, 
      #{samplingcode,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=BIGINT}, #{modifier,jdbcType=VARCHAR}, #{modifytime,jdbcType=BIGINT}, 
      #{utc,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.tianrui.service.bean.quality.purchase.PurchaseSamplingItem" >
    insert into tr_purchase_db_sampling_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="samplingid != null" >
        samplingid,
      </if>
      <if test="samplingcar != null" >
        samplingcar,
      </if>
      <if test="samplingcode != null" >
        samplingcode,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifytime != null" >
        modifytime,
      </if>
      <if test="utc != null" >
        utc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="samplingid != null" >
        #{samplingid,jdbcType=VARCHAR},
      </if>
      <if test="samplingcar != null" >
        #{samplingcar,jdbcType=VARCHAR},
      </if>
      <if test="samplingcode != null" >
        #{samplingcode,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=BIGINT},
      </if>
      <if test="utc != null" >
        #{utc,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianrui.service.bean.quality.purchase.PurchaseSamplingItem" >
    update tr_purchase_db_sampling_item
    <set >
      <if test="samplingid != null" >
        samplingid = #{samplingid,jdbcType=VARCHAR},
      </if>
      <if test="samplingcar != null" >
        samplingcar = #{samplingcar,jdbcType=VARCHAR},
      </if>
      <if test="samplingcode != null" >
        samplingcode = #{samplingcode,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        modifytime = #{modifytime,jdbcType=BIGINT},
      </if>
      <if test="utc != null" >
        utc = #{utc,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianrui.service.bean.quality.purchase.PurchaseSamplingItem" >
    update tr_purchase_db_sampling_item
    set samplingid = #{samplingid,jdbcType=VARCHAR},
      samplingcar = #{samplingcar,jdbcType=VARCHAR},
      samplingcode = #{samplingcode,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=BIGINT},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifytime = #{modifytime,jdbcType=BIGINT},
      utc = #{utc,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="findBySamplingid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tr_purchase_db_sampling_item
    where samplingid = #{samplingid,jdbcType=VARCHAR}
    and state = "1"
  </select>
  
  <select id="listAutoComplateByDay" parameterType="string" resultType="com.tianrui.api.resp.businessManage.handset.HandSetReturnResp">
    SELECT
	    <!-- supplierid,
	    suppliername,
	    minemouthid,
	    minemouthname,
	    materielid as materialid,
	    materielname as materialname -->
	    DISTINCT ${id} as id, ${name} as name
	FROM
	    tr_purchase_db_application t1,
	    tr_purchase_db_application_detail t2,
	    (
	        SELECT
	            billid,
	            billdetailid
	        FROM
	            tr_purchase_db_arrive
	        WHERE
	            CODE in (
	                SELECT
                    s2.samplingcar
                FROM
                    tr_purchase_db_sampling s1
                LEFT JOIN tr_purchase_db_sampling_item s2 ON s1.id = s2.samplingid
                WHERE
                    s1. STATUS = 0 AND s1.STATE = 1 AND s2.STATE = 1
                AND s1.createtime BETWEEN #{day,jdbcType=BIGINT}
	                       AND (#{day,jdbcType=BIGINT} + 86400000)
	            )
	    ) t3
	WHERE
	    t1.id = t3.billid and t2.id = t3.billdetailid AND ${id} IS NOT NULL AND ${name} IS NOT NULL
  </select>
  <select id="findRespByPid" parameterType="list" resultType="com.tianrui.api.resp.quality.purchase.PurchaseSamplingItemResp">
	SELECT DISTINCT
	    t1.id,
	    t1.samplingid,
	    t3.supplierid AS supplier,
	    t3.minemouthid AS mine,
	    t4.materielid AS material
	FROM
	    tr_purchase_db_sampling t0
	LEFT JOIN tr_purchase_db_sampling_item t1 ON t0.id = t1.samplingid
	LEFT JOIN tr_purchase_db_arrive t2 ON t1.samplingcar = t2. CODE
	LEFT JOIN tr_purchase_db_application t3 ON t2.billid = t3.id
	LEFT JOIN tr_purchase_db_application_detail t4 ON t2.billdetailid = t4.id
	WHERE
	    t1.state = 1
	AND t0. CODE IN 
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
        #{item}  
    </foreach>
  </select>
</mapper>