<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.system.auth.OrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.tianrui.service.bean.system.auth.Organization" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="url_addr" property="urlAddr" jdbcType="VARCHAR" />
    <result column="url_ip" property="urlIp" jdbcType="VARCHAR" />
    <result column="link_man" property="linkMan" jdbcType="VARCHAR" />
    <result column="link_tel" property="linkTel" jdbcType="VARCHAR" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, group_id, name, short_name, url_addr, url_ip, link_man, link_tel, ts, create_time, 
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bd_org
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bd_org
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianrui.service.bean.system.auth.Organization" >
    insert into bd_org (id, code, group_id, 
      name, short_name, url_addr, 
      url_ip, link_man, link_tel, 
      ts, create_time, remark
      )
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, #{urlAddr,jdbcType=VARCHAR}, 
      #{urlIp,jdbcType=VARCHAR}, #{linkMan,jdbcType=VARCHAR}, #{linkTel,jdbcType=VARCHAR}, 
      #{ts,jdbcType=TIMESTAMP}, #{createTime,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tianrui.service.bean.system.auth.Organization" >
    insert into bd_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="shortName != null" >
        short_name,
      </if>
      <if test="urlAddr != null" >
        url_addr,
      </if>
      <if test="urlIp != null" >
        url_ip,
      </if>
      <if test="linkMan != null" >
        link_man,
      </if>
      <if test="linkTel != null" >
        link_tel,
      </if>
      <if test="ts != null" >
        ts,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="urlAddr != null" >
        #{urlAddr,jdbcType=VARCHAR},
      </if>
      <if test="urlIp != null" >
        #{urlIp,jdbcType=VARCHAR},
      </if>
      <if test="linkMan != null" >
        #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="linkTel != null" >
        #{linkTel,jdbcType=VARCHAR},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianrui.service.bean.system.auth.Organization" >
    update bd_org
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="urlAddr != null" >
        url_addr = #{urlAddr,jdbcType=VARCHAR},
      </if>
      <if test="urlIp != null" >
        url_ip = #{urlIp,jdbcType=VARCHAR},
      </if>
      <if test="linkMan != null" >
        link_man = #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="linkTel != null" >
        link_tel = #{linkTel,jdbcType=VARCHAR},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianrui.service.bean.system.auth.Organization" >
    update bd_org
    set code = #{code,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      url_addr = #{urlAddr,jdbcType=VARCHAR},
      url_ip = #{urlIp,jdbcType=VARCHAR},
      link_man = #{linkMan,jdbcType=VARCHAR},
      link_tel = #{linkTel,jdbcType=VARCHAR},
      ts = #{ts,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>