<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.system.auth.SystemRoleMapper" >
  <resultMap id="BaseResultMap" type="com.tianrui.service.bean.system.auth.SystemRole" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="rolename" property="rolename" jdbcType="VARCHAR" />
    <result column="role_type" property="roleType" jdbcType="VARCHAR" />
    <result column="isvalid" property="isvalid" jdbcType="TINYINT" />
    <result column="allow_edit" property="allowEdit" jdbcType="TINYINT" />
    <result column="allow_del" property="allowDel" jdbcType="TINYINT" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="BIGINT" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modifytime" property="modifytime" jdbcType="BIGINT" />
    <result column="utc" property="utc" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, rolename, role_type, isvalid, allow_edit, allow_del, info, creator, createtime, 
    modifier, modifytime, utc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tr_system_role
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.tianrui.api.req.system.auth.SystemRoleQueryReq" >
    select 
    	<include refid="Base_Column_List" />
    from tr_system_role
    <where>
   		<if test="name != null and name != ''">
  			and name = #{name,jdbcType=VARCHAR}
		</if>
  		<if test="code != null and code != ''" >
       		and code = #{code,jdbcType=VARCHAR}
      	</if>
   		<if test="rolename != null and rolename != ''" >
       		and rolename = #{rolename,jdbcType=VARCHAR}
      	</if>
   	</where>
   	order by createtime desc
  	<if test="start != null and start >= 0">
  		<if test="limit != null">
			limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  		</if>
  	</if>
  </select>
  <select id="countByCondition" resultType="long" parameterType="com.tianrui.api.req.system.auth.SystemRoleQueryReq" >
    select 
    	count(0)
    from tr_system_role
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tr_system_role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianrui.service.bean.system.auth.SystemRole" >
    insert into tr_system_role (id, code, name, rolename,
      role_type, isvalid, allow_edit, 
      allow_del, info, creator, 
      createtime, modifier, modifytime)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR},
      #{roleType,jdbcType=VARCHAR}, #{isvalid,jdbcType=TINYINT}, #{allowEdit,jdbcType=TINYINT}, 
      #{allowDel,jdbcType=TINYINT}, #{info,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=BIGINT}, #{modifier,jdbcType=VARCHAR}, #{modifytime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.tianrui.service.bean.system.auth.SystemRole" >
    insert into tr_system_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="rolename != null" >
        rolename,
      </if>
      <if test="roleType != null" >
        role_type,
      </if>
      <if test="isvalid != null" >
        isvalid,
      </if>
      <if test="allowEdit != null" >
        allow_edit,
      </if>
      <if test="allowDel != null" >
        allow_del,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifytime != null" >
        modifytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        #{isvalid,jdbcType=TINYINT},
      </if>
      <if test="allowEdit != null" >
        #{allowEdit,jdbcType=TINYINT},
      </if>
      <if test="allowDel != null" >
        #{allowDel,jdbcType=TINYINT},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianrui.service.bean.system.auth.SystemRole" >
    update tr_system_role
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null" >
        rolename = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        role_type = #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        isvalid = #{isvalid,jdbcType=TINYINT},
      </if>
      <if test="allowEdit != null" >
        allow_edit = #{allowEdit,jdbcType=TINYINT},
      </if>
      <if test="allowDel != null" >
        allow_del = #{allowDel,jdbcType=TINYINT},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        modifytime = #{modifytime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianrui.service.bean.system.auth.SystemRole" >
    update tr_system_role
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      rolename = #{rolename,jdbcType=VARCHAR},
      role_type = #{roleType,jdbcType=VARCHAR},
      isvalid = #{isvalid,jdbcType=TINYINT},
      allow_edit = #{allowEdit,jdbcType=TINYINT},
      allow_del = #{allowDel,jdbcType=TINYINT},
      info = #{info,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=BIGINT},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifytime = #{modifytime,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>