<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.common.AppVersionMapper" >
  <resultMap id="BaseResultMap" type="com.tianrui.service.bean.common.AppVersion" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="appname" property="appname" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="appversion" property="appversion" jdbcType="VARCHAR" />
    <result column="versionurl" property="versionurl" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="creatertime" property="creatertime" jdbcType="BIGINT" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, appname, code, appversion, versionurl, remark, creater, creatertime, updater, 
    updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from app_version
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from app_version
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianrui.service.bean.common.AppVersion" >
    insert into app_version (id, appname, code, 
      appversion, versionurl, remark, 
      creater, creatertime, updater, 
      updatetime)
    values (#{id,jdbcType=VARCHAR}, #{appname,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{appversion,jdbcType=VARCHAR}, #{versionurl,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{creatertime,jdbcType=BIGINT}, #{updater,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.tianrui.service.bean.common.AppVersion" >
    insert into app_version
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appname != null" >
        appname,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="appversion != null" >
        appversion,
      </if>
      <if test="versionurl != null" >
        versionurl,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="creatertime != null" >
        creatertime,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appname != null" >
        #{appname,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="appversion != null" >
        #{appversion,jdbcType=VARCHAR},
      </if>
      <if test="versionurl != null" >
        #{versionurl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="creatertime != null" >
        #{creatertime,jdbcType=BIGINT},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianrui.service.bean.common.AppVersion" >
    update app_version
    <set >
      <if test="appname != null" >
        appname = #{appname,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="appversion != null" >
        appversion = #{appversion,jdbcType=VARCHAR},
      </if>
      <if test="versionurl != null" >
        versionurl = #{versionurl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="creatertime != null" >
        creatertime = #{creatertime,jdbcType=BIGINT},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianrui.service.bean.common.AppVersion" >
    update app_version
    set appname = #{appname,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      appversion = #{appversion,jdbcType=VARCHAR},
      versionurl = #{versionurl,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      creatertime = #{creatertime,jdbcType=BIGINT},
      updater = #{updater,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>